<!DOCTYPE html>
<html lang="kor">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>관리자 페이지</title>
        <link href="../../css/admin/styles2.css" rel="stylesheet" />

    </head>
    <body class="body-container">
        <nav class="topnav navbar-dark bg-dark">
            <!-- logo 이름-->
            <a class="logo" href="/admin/adm_main">로고가 들어갑니다</a>
        </nav>
        <div id="sideNav">
            <div id="sideNav_nav">
                <nav class="sb-sidenav sb-sidenav-dark">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="menu-title">문제 리스트</div>
                            <a class="nav-link" href="/admin/adm_todayList">
                                오늘의 문제
                            </a>
                            <a class="nav-link" href="/admin/adm_contestList">
                                대회 문제
                            </a>
                            <div class="menu-title">회원 정보</div>
                            <a class="nav-link" href="/admin/adm_userList">
                                회원 목록
                            </a>
                            <a class="nav-link" href="/admin/adm_boardList">
                                작성 게시글
                            </a>
                            <a class="nav-link" href="/admin/adm_inquiryList">
                                문의글
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="main_content">
                <main>
                    <div class="main_padding">
                        <div class="header_container">
                            <h1 class="main-header">게시글 등록</h1>
                        </div>
                        <div class="card main-margin">
                            <table border="1" width=500>
                                <tr>
                                    <th colspan="2">
                                        대회 문제 수정
                                    </th>
                                </tr>
                                <tr>
                                    <td width=80>
                                        제목
                                    </td>
                                    <td >
                                        <input type="text" placeholder="제목을 입력하세요."
                                        maxlength=20
                                        style="width:100%" >
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" height=400>
                                        <textarea placeholder="내용을 입력하세요." style="width: 100%; height: 100%"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="button" value="글쓰기">
                                        <a href="../admin/adm_todayList.html"><input type="button" value="목록으로"></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="../../js/admin/chart-area-demo.js"></script>
        <script src="../../js/admin/chart-bar-demo.js"></script>
    </body>
</html>
