<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>관리자 페이지</title>
        <link href="../../css/admin/styles2.css" rel="stylesheet" />

    </head>
    <body class="body-container">
        <nav class="topnav navbar-dark bg-dark">
            <!-- logo 이름-->
            <a class="logo" href="/admin/adm_main">로고가 들어갑니다</a>
        </nav>
        <div id="sideNav">
            <div id="sideNav_nav">
                <nav class="sb-sidenav sb-sidenav-dark">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="menu-title">문제 리스트</div>
                            <a class="nav-link" href="/admin/adm_todayList">
                                오늘의 문제
                            </a>
                            <a class="nav-link" href="/admin/adm_contestList">
                                대회 문제
                            </a>
                            <div class="menu-title">회원 정보</div>
                            <a class="nav-link" href="/admin/adm_userList">
                                회원 목록
                            </a>
                            <a class="nav-link" href="/admin/adm_boardList">
                                작성 게시글
                            </a>
                            <a class="nav-link" href="/admin/adm_inquiryList">
                                문의글
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="main_content">
                <main>

                    <div class="main_padding">
                        <div>

                            <a href="../admin/adm_todayInsert.html"></a>
                            <input type="button" value="삭제" style="top :24px; left: -15px;">
                            <h1 class="main-header">작성 게시글</h1>
                        </div>
                        <div class="card main-margin">
                           
                            <form class="boardView" th:object="${board}" >
                                <!-- head -->
                                <div class="head">
                                    <h2 class="title" th:text="*{boardTitle}">11/22일 오늘의 문제 푼 사람?</h2>
                                    <div class="article" data-brl-use="PH">
                                        <strong>등록자</strong>
                                        <span th:text="*{userNickname}">user2</span>
                                        <strong>신고수</strong>
                                        <span th:text="*{boardReport}">0</span>
                                        <strong>문제번호</strong>
                                        <span th:text="*{quizList}">234</span>
                                        <strong>상세번호</strong>
                                        <span th:text="*{quizNumber}"></span>
                                        <strong>날짜</strong>
                                        <span th:text="*{boardDate}">2022-11-20</span>
                                    </div>
                                </div>
                                <!-- //head -->
            
                                <!-- body -->
                                <div class="body" data-brl-use="PH">
                                    <div class="cont">
                                        <div style="text-align: justify;"><br>
                                            <div th:text="*{boardContent}">
                                                ㅈㄱㄴ
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- //body -->
                                <!-- page -->
                                <div class="page" data-brl-use="PH">
                                    <th:block th:if = "${before != 0}" th:each="before:${before}">
                                        <div th:object = "${before}">
                                            <strong>이전글</strong>
                                            <a th:href="*{boardNumber}" class="read" th:text="*{boardTitle}">22/11/19 오늘의 문제</a>
                                        </div>
                                    </th:block>
                                    <th:block th:if = "${after != 0}" th:each="after:${after}">
                                        <div th:object = "${after}">
                                            <strong class="next">다음글</strong>
                                            <a th:href="*{boardNumber}" class="read" th:text="*{boardTitle}">22/11/19 오늘의 문제</a>
                                        </div>
                                    </th:block>
                            </form>
                                <!-- //page -->
                            </div>

                        </div>
                        <a href="../admin/adm_todayList.html"><input type="button" value="목록으로"></a>
                </main>
            </div>
        </div>
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script th:inline="javascript">
            let boardNumber = [[${boardNumber}]];
            let $pages = $("a.changePage");
            const $read = $("a.read");


            $("a.write").on("click", function(e){
                e.preventDefault();
                location.href = "/board/write";
            });

            $pages.on("click", function(e){
                e.preventDefault();
                $(document.pageForm.page).val($(this).attr("href"));
                document.pageForm.submit();
            });

            $read.on("click", function(e){
                e.preventDefault();
                location.href = "/admin/adm_boardDetail" +"?boardNumber=" + $(this).attr("href");
            });
        </script>
    </body>
</html>
