<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <title>Document</title>
</head>
<body>

    <footer class="mainFooter">
        <div class="footer_wrap">
            <div class="footer_content">
                <ul class="footer_list_top">
                    <li class="list_style top_font">
                        <span>(미정)소개</span>
                    </li>
                    <li class="list_style top_font">
                        <span>이용약관</span>
                    </li>
                    <li class="list_style top_font">
                        <span>개인정보처리방침</span>
                    </li>
                    <li class="list_style top_font">
                        <span>출제 문의</span>
                    </li>
                    <li class="list_style top_font">
                        <span>광고 문의</span>
                    </li>
                </ul>
                <ul class="footer_list_middle">
                    <li class="list_style">
                        <span class="middle_font">팀명 : 핫식스</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">프로젝트명 : 미정</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">프로젝트 깃허브</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">팀장 : 고진혁</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">팀원 : 김효범 도희정 황영택</span>
                    </li>
                </ul>
                <div class="footer_bottom">
                    @ 2022 Hot6. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</body>
</html>