<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/main.css">
    <title>Document</title>
</head>
<body class="mainBody">
<header>
    <div class="headWrapper">
        <div class="navigation_wrap">
            <div class="navigation_left">
                <a href="javascript:void(0)" class="navigation_logo">QUIZ</a>
            </div>
            <div class="navigation_right">
                <ul class="menu">
                    <li><a href="../../html/board/problemList.html">오늘의 문제</a></li>
                    <li><a href="javascript:void(0)">대회</a></li>
                    <li><a href="javascript:void(0)">랭킹</a></li>
                    <li><a href="javascript:void(0)">게시판</a></li>
                </ul>
            </div>
            <div class="login">
                    <span class="loginYet">
                        <a href="../../html/login/login.html" class="btn_login">로그인 / 회원가입</a>
                    </span>
                <span class="loginOk" style="display: none;">
                        <a href="javascript:void(0)" class="loginOk_font">유저아이디</a>
                        <a href="javascript:void(0)" class="loginOk_font">설정</a>
                        <a href="javascript:void(0)" class="btn_login">로그아웃</a>
                    </span>
            </div>
        </div>
    </div>
</header>
<div class="main_content">
    <section class="container">
        <div class="banner">
            <div class="banner_img"><img src="../../img/main/37dbc2c3-73f1-4060-8b55-4b36268356db.png"></div>
            <div class="banner_img"><img src="../../img/main/PRGM_Img-Banner_2600x600_.jpg"></div>
            <div class="banner_img"><img src="../../img/main/2022.11_Back-End.png"></div>
            <div class="banner_img"><img src="../../img/main/37dbc2c3-73f1-4060-8b55-4b36268356db.png"></div>
            <div class="banner_img"><img src="../../img/main/PRGM_Img-Banner_2600x600_.jpg"></div>
        </div>
        <div class="btns">
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
        </div>
    </section>
    <section class="today_quiz">
        <h4 class="quiz_title">오늘의 문제</h4>
        <h5 class="quiz_subtitle">오늘의 문제를 풀고 랭킹을 올려봐요.</h5>
        <div class="quiz_content" style="height:auto !important">
            <div class="card_content">
                <p class="card_title">
                    <a href="javascript:void(0)">
                        <span class="today_number">[문제번호]</span>
                        <span class="today_title">오늘의 문제 제목</span>
                    </a>
                    <a class="btn_quiz" href="javascript:void(0)">퀴즈풀기 &nbsp;></a>
                </p>
                <div class="card_desc">
                    <p>
                        문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.
                        문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.
                        문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.
                        문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.
                        문제내용이 들어갈 자리.문제내용이 들어갈 자리.문제내용이 들어갈 자리.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="today_board">
        <h4 class="board_title">게시판</h4>
        <div class="board_list">
            <div class="board_content">
                <div class="board_content_title">
                            <span>
                                <img src="../../img/main/customer-service.png">
                                <span class="board_detail">허리 뼈 소리나게 돌리고난 후 다음날 너무 아파요. 어떤 치료를 받아야할까요?</span>
                            </span>
                    <span class="arrow_down">
                                <img class="btn_toggle"src="../../img/main/iconmonstr-caret-down-lined-48.png">
                            </span>
                </div>
                <div class="board_content_content" style="display: none;">
                            <span>
                                안녕하세요. 홍덕진 의사입니다. 허리 통증을 유발하는 기전은 흔히들 잘 알고 있는 디스크 (추간판 탈출증) 외에도 다양합니다. 
                                물리적인 추간판 탈출이 아니더라도 면역 반응에 의한 염증이 발생할 수 있고, 추간판이 아닌 근육이나 인대의 문제일 수도 있습니다.
                                교과서적으로는 소염제를 복용하거나 파스를 붙여서 염증 및 통증을 줄이고, 
                                허리 근육 강화를 통해서 허리 구조물을 안정화 시키는 게 일반적으로 추천되는 방법입니다.
                            </span>
                </div>
            </div>
            <div class="board_content">
                <div class="board_content_title">
                            <span>
                                <img src="../../img/main/customer-service.png">
                                <span class="board_detail">허리 뼈 소리나게 돌리고난 후 다음날 너무 아파요. 어떤 치료를 받아야할까요?</span>
                            </span>
                    <span class="arrow_down">
                                <img class="btn_toggle"src="../../img/main/iconmonstr-caret-down-lined-48.png">
                            </span>
                </div>
                <div class="board_content_content" style="display: none;">
                            <span>
                                안녕하세요. 홍덕진 의사입니다. 허리 통증을 유발하는 기전은 흔히들 잘 알고 있는 디스크 (추간판 탈출증) 외에도 다양합니다. 
                                물리적인 추간판 탈출이 아니더라도 면역 반응에 의한 염증이 발생할 수 있고, 추간판이 아닌 근육이나 인대의 문제일 수도 있습니다.
                                교과서적으로는 소염제를 복용하거나 파스를 붙여서 염증 및 통증을 줄이고, 
                                허리 근육 강화를 통해서 허리 구조물을 안정화 시키는 게 일반적으로 추천되는 방법입니다.
                            </span>
                </div>
            </div>
            <div class="board_content">
                <div class="board_content_title">
                            <span>
                                <img src="../../img/main/customer-service.png">
                                <span class="board_detail">허리 뼈 소리나게 돌리고난 후 다음날 너무 아파요. 어떤 치료를 받아야할까요?</span>
                            </span>
                    <span class="arrow_down">
                                <img class="btn_toggle"src="../../img/main/iconmonstr-caret-down-lined-48.png">
                            </span>
                </div>
                <div class="board_content_content" style="display: none;">
                            <span>
                                안녕하세요. 홍덕진 의사입니다. 허리 통증을 유발하는 기전은 흔히들 잘 알고 있는 디스크 (추간판 탈출증) 외에도 다양합니다. 
                                물리적인 추간판 탈출이 아니더라도 면역 반응에 의한 염증이 발생할 수 있고, 추간판이 아닌 근육이나 인대의 문제일 수도 있습니다.
                                교과서적으로는 소염제를 복용하거나 파스를 붙여서 염증 및 통증을 줄이고, 
                                허리 근육 강화를 통해서 허리 구조물을 안정화 시키는 게 일반적으로 추천되는 방법입니다.
                            </span>
                </div>
            </div>

        </div>
</div>
</section>
<section class="today_ranking">
    <h4 class="ranking_title">
        금일의 랭킹
    </h4>
    <!--<div class="ranking_content" style="height:auto !important">-->
    <div class="flex_box">
        <div class="borr">
            <div class="school_type">
                <span class="school_content">초등학교</span>
            </div>
            <div class="type_ranking">
                <ul>
                    <li>
                        <div class="grade">
                            <span><img src="../../img/main/gold-medal.png"></span>
                            <span class="ranking_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span><img src="../../img/main/silver-medal.png"></span>
                            <span class="ranking_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span><img src="../../img/main/bronze-medal.png"></span>
                            <span class="ranking_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">4</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">5</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">6</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">7</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">8</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">9</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="borr">
            <div class="school_type">
                <span class="school_content">중학교</span>
            </div>
            <div class="type_ranking">
                <ul>
                    <li>
                        <div class="grade">
                            <span><img src="../../img/main/gold-medal.png"></span>
                            <span class="ranking_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span><img src="../../img/main/silver-medal.png"></span>
                            <span class="ranking_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span><img src="../../img/main/bronze-medal.png"></span>
                            <span class="ranking_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">4</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">5</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">6</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">7</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">8</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">9</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="borr">
            <div class="school_type">
                <span class="school_content">고등학교</span>
            </div>
            <div class="type_ranking">
                <ul>
                    <li>
                        <div class="grade">
                            <span><img src="../../img/main/gold-medal.png"></span>
                            <span class="ranking_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span><img src="../../img/main/silver-medal.png"></span>
                            <span class="ranking_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span><img src="../../img/main/bronze-medal.png"></span>
                            <span class="ranking_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">4</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">5</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">6</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">7</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">8</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                    <li>
                        <div class="grade">
                            <span class="ranking_other">9</span>
                            <span class="ranking_span_name">가나다</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>

</div>
<footer>
    <div class="footer_wrap">
        <div class="footer_content">
            <ul class="footer_list_top">
                <li class="list_style top_font">
                    <span>(미정)소개</span>
                </li>
                <li class="list_style top_font">
                    <span>이용약관</span>
                </li>
                <li class="list_style top_font">
                    <span>개인정보처리방침</span>
                </li>
                <li class="list_style top_font">
                    <span>출제 문의</span>
                </li>
                <li class="list_style top_font">
                    <span>광고 문의</span>
                </li>
            </ul>
            <ul class="footer_list_middle">
                <li class="list_style">
                    <span class="middle_font">팀명 : 핫식스</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">프로젝트명 : 미정</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">프로젝트 깃허브</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">팀장 : 고진혁</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">팀원 : 김효범 도희정 황영택</span>
                </li>
            </ul>
            <div class="footer_bottom">
                @ 2022 Hot6. All rights reserved.
            </div>
        </div>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="../../js/main/banner.js"></script>
<script src="../../js/main/board_arrow.js"></script>
</html>