<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>랭킹</title>
    <link rel="stylesheet" href="../../css/board/contestList.css">
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script> 


</head>
<body>
    <div class="base">
    <!-- header 작성 -->
    <header>
        <div class="headWrapper">
            <div class="navigation_wrap">
                <div class="navigation_left">
                    <a href="javascript:void(0)" class="navigation_logo">QUIZ</a>
                </div>
                <div class="navigation_right">
                    <ul class="menu">
                        <li><a href="javascript:void(0)">오늘의 문제</a></li>
                        <li><a href="javascript:void(0)">대회</a></li>
                        <li><a href="javascript:void(0)">랭킹</a></li>
                        <li><a href="javascript:void(0)">게시판</a></li>
                    </ul>
                </div>
                <div class="login">
                    <span class="loginYet">
                        <a href="javascript:void(0)" class="btn_login">로그인 / 회원가입</a>
                    </span>
                    <span class="loginOk" style="display: none;">
                        <a href="javascript:void(0)" class="loginOk_font">유저아이디</a>
                        <a href="javascript:void(0)" class="loginOk_font">설정</a>
                        <a href="javascript:void(0)" class="btn_login">로그아웃</a>
                    </span>
                </div>
            </div>
        </div>
    </header>
    
        <div class="container">
            <div class="bannerContainer">
                <div class="banner">
                    <div class="bannerContent">
                        <div class="bannerImageContainer">
                            <img src="../../img/main/ranking.png" alt="랭킹" class="bannerImage">
                        </div>
                        <div class="bannerTextContainer">
                            <div>
                                <span class="title">랭킹</span>
                                <span class="description">야! 너도 1등 할 수 있어!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainContainer">
                <div class="mainContent">
                    <div class="leftSideContainer">
                        
                        <ul class="leftSide">
                           
                            <li><a href="#" class="contestProblems">전체 랭킹</a></li>
                            <li>
                                <hr style="margin-top: 12px; border-top: 2px dashed rgb(222, 222, 222);">
                                <a class="elementary" href="../../html/main/rankingCho.html">초등학생 랭킹</a><br>
                                <a class="middle" href="#">중학생 랭킹</a><br>
                                <a class="high" href="#">고등학생 랭킹</a><br>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="leftSideContainer">
                        <ul class="leftSide">
                            <li><a href="#" class="contestProblems">범위</a></li>
                            <li>
                                <hr style="margin-top: 12px; border-top: 2px dashed rgb(222, 222, 222);">
                                <a class="todayProblems" href="#">년</a><br>
                                <a class="todayProblems" href="#">월</a><br>
                                <a class="todayProblems" href="#">주</a><br>
                            </li>
                        </ul>
                    </div> -->
                    <div class="problemContainer">
                        <div class="problemList">
                            <div class="problem">
                                <div class="problemTableWrap">
                                <!-- <input type="checkbox">범위 -->
                                <!-- 기간(년/월/주) 넣어야합니다<!--  --> 
                                <table> <!-- style="width: 900px;margin-left: 36px;"> -->
                                    <thead  class="tableHeader"> <!-- style="margin-bottom: 20px;"> -->
                                        <tr>
                                            <th>등수</th>
                                            <th>아이디</th>
                                            <th>초/중/고</th>
                                            <th>맞은 문제 갯수</th>
                                            <th>틀린 문제 갯수</th>
                                            <th>정답률</th>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align: center;">
                                        <tr>
                                            <td>1등</td>
                                            <td>김효범</td>
                                            <td>초등학생</td>
                                            <td>100개</td>
                                            <td>0개</td>
                                            <td>100%</td>
            
                                        </tr>
                                        <tr>
                                            <td>2등</td>
                                            <td>도희정</td>
                                            <td>중학생</td>
                                            <td>83개</td>
                                            <td>3개</td>
                                            <td>95%</td>
            
                                        </tr>
                                        <tr>
                                            <td>3등</td>
                                            <td>고진혁</td>
                                            <td>고등학생</td>
                                            <td>3개</td>
                                            <td>97개</td>
                                            <td>3%</td>
            
                                        </tr>
                                        <tr>
                                            <td>4등</td>
                                            <td>이종호</td>
                                            <td>고등학생</td>
                                            <td>0개</td>
                                            <td>0개</td>
                                            <td>0%</td>
            
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <div class="pagerContainer">
                                    <div class="pagerList">
                                        <button>1</button>
                                        <button>2</button>
                                        <button>3</button>
                                        <button>4</button>
                                        <button><img src="../../img/nxt.jpg"></button>
                                    </div>
                                </div> -->
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <footer class="mainFooter">
        <div class="footer_wrap">
            <div class="footer_content">
                <ul class="footer_list_top">
                    <li class="list_style top_font">
                        <span>(미정)소개</span>
                    </li>
                    <li class="list_style top_font">
                        <span>이용약관</span>
                    </li>
                    <li class="list_style top_font">
                        <span>개인정보처리방침</span>
                    </li>
                    <li class="list_style top_font">
                        <span>출제 문의</span>
                    </li>
                    <li class="list_style top_font">
                        <span>광고 문의</span>
                    </li>
                </ul>
                <ul class="footer_list_middle">
                    <li class="list_style">
                        <span class="middle_font">팀명 : 핫식스</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">프로젝트명 : 미정</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">프로젝트 깃허브</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">팀장 : 고진혁</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">팀원 : 김효범 도희정 황영택</span>
                    </li>
                </ul>
                <div class="footer_bottom">
                    @ 2022 Hot6. All rights reserved.
                </div>
            </div>
        </div>
    </footer> -->
</body>
</html>