<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이번에는 꼭</title>
    <link rel="stylesheet" href="../../../../../../springPublish/css/board/board.css">
    <link rel="stylesheet" href="../../../../../../springPublish/css/main/header.css">
</head>
<body>
    <div id="__nuxt" style="height:auto !important">
        <div class="__layout" style="height: auto !important;">
            <div class="base" style="height: auto !important;">
            <!-- <header> -->
                <div class="headWrapper">
                    <div class="navigation_wrap">
                        <div class="navigation_left">
                            <a href="javascript:void(0)" class="navigation_logo">QUIZ</a>
                        </div>
                        <div class="navigation_right">
                            <ul class="menu">
                                <li><a href="javascript:void(0)">오늘의 문제</a></li>
                                <li><a href="javascript:void(0)">대회</a></li>
                                <li><a href="javascript:void(0)">랭킹</a></li>
                                <li><a href="javascript:void(0)">게시판</a></li>
                            </ul>
                        </div>
                        <div class="login">
                            <span class="loginYet">
                                <a href="javascript:void(0)" class="btn_login">로그인 / 회원가입</a>
                            </span>
                            <span class="loginOk" style="display: none;">
                                <a href="javascript:void(0)" class="loginOk_font">유저아이디</a>
                                <a href="javascript:void(0)" class="loginOk_font">설정</a>
                                <a href="javascript:void(0)" class="btn_login">로그아웃</a>
                            </span>
                        </div>
                    </div>
                </div>
            <!-- </header> -->

                <div class="pageContainer" style="height: auto !important;min-height:0px !important;">
                    <div class="headContainer">
                        <div class="banner">
                            <div class="containerRelative">
                                <div class="imgWrap">
                                    <img src="https://media.a-ha.io/aha-qna/categories/logos/category_commonsense.png?v=1.2" class="categoryImg">
                                </div>
                                <div class="titleWrap">
                                    <div>
                                        <div class="titles">
                                            <span class="title">정보공유</span>
                                        </div>
                                        <div class="titles">
                                            <span class="title">누구나 질문! 누구나 답변!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="containerNoPadding" style="height: auto !important;">
                        <div class="row" style="height: auto !important;">
                            <aside class="rowBox" style="height: auto !important; min-height:0px !important;">
                                <div class="sidebar" style="height: auto !important;">
                                    <ul class="nav">
                                        <li>
                                            <a href="">홈</a>
                                        </li>
                                    </ul>

                                </div>
                            </aside>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>        
</body>
</html>