<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 답변</title>
    <link rel="stylesheet" href="../../css/board/boardList.css">
    <link rel="stylesheet" href="../../css/board/boardDetail.css">
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <!--<script>
        $(function(){
            $("#header").load("../main/header.html");
            $("#footer").load("../main/footer.html");
        });
    </script>-->
</head>
<body>
    <!-- header 작성 -->
    <header>
        <div class="headWrapper">
            <div class="navigation_wrap">
                <div class="navigation_left">
                    <a href="javascript:void(0)" class="navigation_logo">QUIZ</a>
                </div>
                <div class="navigation_right">
                    <ul class="menu">
                        <li><a href="javascript:void(0)">오늘의 문제</a></li>
                        <li><a href="javascript:void(0)">대회</a></li>
                        <li><a href="javascript:void(0)">랭킹</a></li>
                        <li><a href="javascript:void(0)">게시판</a></li>
                    </ul>
                </div>
                <div class="login">
                        <span class="loginYet">
                            <a href="javascript:void(0)" class="btn_login"  style="display: none;">로그인 / 회원가입</a>
                        </span>
                    <span class="loginOk"">
                    <a href="javascript:void(0)" class="loginOk_font">유저아이디</a>
                    <a href="javascript:void(0)" class="loginOk_font">문의하기</a>
                    <a href="javascript:void(0)" class="btn_login">로그아웃</a>
                    </span>
                </div>
            </div>
        </div>
    </header>

    <div class="base">
        <div class="container">
            <div class="bannerContainer">
                <div class="banner">
                    <div class="bannerContent">
                        <div class="bannerImageContainer">
                            <img src="https://media.a-ha.io/aha-qna/categories/logos/category_commonsense.png?v=1.2" alt="정보공유" class="bannerImage">
                        </div>
                        <div class="bannerTextContainer">
                            <div>
                                <span class="title">정보공유</span>
                                <span class="description">누구나 질문! 누구나 답변!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainContainer" style="height: 700px;">
                <div class="mainContent">
                    <div class="leftSideContainer">
                        <ul class="leftSide">
                            <li><a href="#">홈</a></li>
                            <li>
                                <hr style="margin-top: 12px; border-top: 2px dashed rgb(222, 222, 222);">
                                <a class="todayProblems" href="#">오늘의 문제</a><br>
                                <a class="contestProblems" href="#">대회 문제</a>
                            </li>
                        </ul>
                    </div>
                    <div class="questionContainer">
                        <div class="questionAnswer">
                            <article class="question">
                                <div class="questionDetailContent">
                                    <div class="questionTitle">
                                        <h1 class="questionDetailTitle" data-v-19dc2878="" data-v-6d4e7017="">
                                            <img  class="imgQ" src="../../img/board/Q.jpg">
                                            조개류는 어째서 조리하면 입을 여나요?
                                        </h1>
                                        <div class="questionInfo">
                                            <div class="userId">
                                                빡공도희정
                                            </div>
                                            <span class="questionTime">2022. 11. 16. 12:25</span>
                                        </div>
                                    </div>
                                    <div class="questionContentContainer">
                                        <p>조개 요리하려고 조갯살을 발라내려면 살아 있을 때 입을 꽉 다물고 있어서 열기가 힘든데요. 어째서 찌거나 구우면 조개 입이 저절로 열리게 되는건가요? </p>
                                    </div>
                                    <div class="questionDetailOption">
                                        <div class="questionInterests">
                                            <button class="questionInterest">
                                                <img src="../../img/board/interestColor.jpg">
                                                관심질문
                                                <span>0</span>
                                            </button>
                                            <button class="questionInterest">
                                                <img src="../../img/board/good.jpg">
                                                좋아요
                                                <span>0</span>
                                            </button>
                                            <button class="questionInterest">
                                                <img src="../../img/board/comment.jpg">
                                                댓글
                                                <span>0</span>
                                            </button>
                                        </div>
                                        <div class="questionDetailOptionRight">
                                            <button class="questionShare">
                                                <img src="../../img/board/share.jpg">
                                                공유하기
                                            </button>
                                            <button class="questionReport">
                                                <img src="../../img/board/report.jpg">
                                                신고
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <section>
                                <button class="btnAnswer">답변하기</button>
                                <h4>총 1개의 답변이 있어요.</h4>
                                <article>
                                    <div class="questionDetailContent">
                                        <div class="questionTitle">
                                            <div class="questionInfo">
                                                <div class="ansUserId">
                                                    튼실한참새
                                                </div>
                                            </div>
                                        </div>
                                        <div class="questionContentContainer">
                                            <p class="answerContent">조개 요리하려고 조갯살을 발라내려면 살아 있을 때 입을 꽉 다물고 있어서 열기가 힘든데요. 어째서 찌거나 구우면 조개 입이 저절로 열리게 되는건가요? </p>
                                            <span class="answerTime">2022. 11. 16. 12:25</span>
                                        </div>
                                        <div class="questionDetailOption answerOption">
                                            <div class="questionInterests">
                                                <button class="questionInterest answerInterest">
                                                    추천
                                                    <span>0</span>
                                                </button>
                                                <button class="questionInterest answerInterest">
                                                    비추천
                                                    <span>0</span>
                                                </button>
                                                <button class="questionInterest">
                                                    <img src="../../img/board/good.jpg">
                                                    좋아요
                                                    <span>0</span>
                                                </button>
                                                <button class="questionInterest">
                                                    <img src="../../img/board/comment.jpg">
                                                    댓글
                                                    <span>0</span>
                                                </button>
                                            </div>
                                            <div class="questionDetailOptionRight">
                                                <button class="questionShare">
                                                    <img src="../../img/board/share.jpg">
                                                    공유하기
                                                </button>
                                                <button class="questionReport">
                                                    <img src="../../img/board/report.jpg">
                                                    신고
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <div class="pagerBox">
                                    <button class="pager prev">
                                        <img src="../../img/board/prev.jpg">
                                        <p>이전 질문</p>
                                    </button>
                                    <button class="pager middle">
                                        <img src="../../img/board/list.jpg">
                                        <p>질문 목록</p>
                                    </button>
                                    <button class="pager next">
                                        <p>다음 질문</p>
                                        <img src="../../img/board/next.jpg">
                                    </button>
                                </div>
                            </section>
                        </div>
                        <div class="writeContainer">
                            <button class="btnUpdate">수정하기</button>
                            <button class="btnDelete">삭제하기</button>
                            <button class="btnWrite">나도 질문하기</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="mainFooter">
        <div class="footer_wrap">
            <div class="footer_content">
                <ul class="footer_list_top">
                    <li class="list_style top_font">
                        <span>(미정)소개</span>
                    </li>
                    <li class="list_style top_font">
                        <span>이용약관</span>
                    </li>
                    <li class="list_style top_font">
                        <span>개인정보처리방침</span>
                    </li>
                    <li class="list_style top_font">
                        <span>출제 문의</span>
                    </li>
                    <li class="list_style top_font">
                        <span>광고 문의</span>
                    </li>
                </ul>
                <ul class="footer_list_middle">
                    <li class="list_style">
                        <span class="middle_font">팀명 : 핫식스</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">프로젝트명 : 미정</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">프로젝트 깃허브</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">팀장 : 고진혁</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">팀원 : 김효범 도희정 황영택</span>
                    </li>
                </ul>
                <div class="footer_bottom">
                    @ 2022 Hot6. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</body>
</html>