<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대회 문제</title>
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <link rel="stylesheet" href="../../css/board/contestList.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script> 
    <script>  
    $(function(){
    $("#header").load("../main/header.html");  
    $("#footer").load("../main/footer.html");  
    }); 
    </script> 
</head>
<body>
    <div class="base">
    <!-- header 작성 -->
    <div id="header"></div>
    
        <div class="container">
            <div class="bannerContainer">
                <div class="banner">
                    <div class="bannerContent">
                        <div class="bannerImageContainer">
                            <img src="https://media.a-ha.io/aha-qna/categories/logos/category_commonsense.png?v=1.2" alt="정보공유" class="bannerImage">
                        </div>
                        <div class="bannerTextContainer">
                            <div>
                                <span class="title">대회</span>
                                <span class="description">누구나 참여! 우승은 당신의 것!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainContainer">
                <div class="mainContent">
                    <div class="leftSideContainer">
                        <ul class="leftSide">
                            <li><a href="#">홈</a></li>
                            <li>
                                <hr style="margin-top: 12px; border-top: 2px dashed rgb(222, 222, 222);">
                                <a class="todayProblems" href="../../html/board/problemList.html">오늘의 문제</a><br>
                                <a class="contextProblems" href="../../html/board/contestList.html">대회 문제</a>
                            </li>
                        </ul>
                    </div>
                    <div class="problemContainer">
                        <div class="problemList">
                            <div class="problem">
                                <div class="problemTableWrap">
                                    <table>
                                        <thead class="tableHeader">
                                            <tr>
                                                <th width="10%">번호</th>
                                                <th width="60%">제목</th>
                                                <th width="10%">시작</th>
                                                <th width="10%">종료</th>
                                                <th width="10%">상태</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="notFinish">
                                                <td>
                                                    <span>478</span>
                                                </td>
                                                <td>
                                                    2022 홍익대학교 HI-ARC 프로그래밍 경진대회 Open Contest
                                                </td>
                                                <td>
                                                    2022.11.20 15:00
                                                </td>
                                                <td>
                                                    2022.11.20 17:00
                                                </td>
                                                <td>
                                                    진행 전
                                                </td>
                                            </tr>
                                            <tr class="notFinish">
                                                <td>
                                                    <span>476</span>
                                                </td>
                                                <td>
                                                    4th UNIST Algorithm Programming Contest Uni-CODE 2022 Open Contest
                                                </td>
                                                <td>
                                                    2022.11.26 17:00
                                                </td>
                                                <td>
                                                    2022.11.26 20:00
                                                </td>
                                                <td>
                                                    진행 전
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span>469</span>
                                                </td>
                                                <td>
                                                    2022 아주대학교 프로그래밍 경시대회 APC Open Contest
                                                </td>
                                                <td>
                                                    2022.11.13 19:00
                                                </td>
                                                <td>
                                                    2022.11.13 23:00
                                                </td>
                                                <td>
                                                    종료
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pagerContainer">
                                    <div class="pagerList">
                                        <button>1</button>
                                        <button>2</button>
                                        <button>3</button>
                                        <button>4</button>
                                        <button><img src="../../img/board/nxt.jpg"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>