<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 문제</title>
    <link rel="stylesheet" href="../../css/board/problemList.css">
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
            $("#header").load("../main/header.html");
            $("#footer").load("../main/footer.html");
        });
    </script>
</head>
<body>
    <!-- header 작성 -->
    <header>
        <div class="headWrapper">
            <div class="navigation_wrap">
                <div class="navigation_left">
                    <a href="javascript:void(0)" class="navigation_logo">QUIZ</a>
                </div>
                <div class="navigation_right">
                    <ul class="menu">
                        <li><a href="javascript:void(0)">오늘의 문제</a></li>
                        <li><a href="javascript:void(0)">대회</a></li>
                        <li><a href="javascript:void(0)">랭킹</a></li>
                        <li><a href="javascript:void(0)">게시판</a></li>
                    </ul>
                </div>
                <div class="login">
                        <span class="loginYet">
                            <a href="javascript:void(0)" class="btn_login"  style="display: none;">로그인 / 회원가입</a>
                        </span>
                    <span class="loginOk">
                    <a href="javascript:void(0)" class="loginOk_font">유저아이디</a>
                    <a href="javascript:void(0)" class="loginOk_font">문의하기</a>
                    <a href="javascript:void(0)" class="btn_login">로그아웃</a>
                    </span>
                </div>
            </div>
        </div>
    </header>

    <div class="base">
        <div class="container">
            <div class="bannerContainer">
                <div class="banner">
                    <div class="bannerContent">
                        <div class="bannerImageContainer">
                            <img src="https://media.a-ha.io/aha-qna/categories/logos/category_commonsense.png?v=1.2" alt="정보공유" class="bannerImage">
                        </div>
                        <div class="bannerTextContainer">
                            <div>
                                <span class="title">오늘의 문제</span>
                                <span class="description">당신이 바로 명탐정!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 목록이 10개일 경우 height: 552px -->
            <div class="mainContainer" style="height: 550px;">
                <div class="mainContent">
                    <div class="leftSideContainer">
                        <ul class="leftSide">
                            <li><a href="#">홈</a></li>
                            <li>
                                <hr style="margin-top: 12px; border-top: 2px dashed rgb(222, 222, 222);">
                                <a class="todayProblems" href="../../html/board/problemList.html">오늘의 문제</a><br>
                                <a class="contextProblems" href="../../html/board/contestList.html">대회 문제</a>
                            </li>
                        </ul>
                    </div>
                    <div class="problemContainer">
                        <div class="problemList">
                            <div class="problem">
                                <div class="problemTableWrap">
                                    <table>
                                      <thead class="tableHeader">
                                        <tr>
                                            <th width="10%">번호</th>
                                            <th width="60%">제목</th>
                                            <th width="10%">정답률</th>
                                            <th width="20%">등록일자</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                       <th:block th:each="todayQuiz:${todayQuizs}"  th:object="${todayQuiz}">
                                        <tr class="todayProblem">
                                            <td class="quizList" th:text="*{quizList}">
                                                <span>479</span>
                                            </td>
                                            <td class="quizTitle">
                                                <a class="detail" th:text="*{quizListTitle}" th:href="@{/board/problemDetail(quizList=*{quizList}, quizRegisterDate=*{quizRegisterDate})}"> <!--th:href="*{quizList}">-->제 572회 추리퀴즈 - [ 나지막한 콧노래 ] 오늘의 문제라고 쓰는 것이 좋을까요?</a>
                                            </td>
                                            <td>
                                                23.44%
                                            </td>
                                            <td class="date" th:text="*{quizRegisterDate}">
                                                2022.02.03
                                            </td>
                                        </tr>
                                       </th:block>
                                        <!--<tr class="todayProblem">
                                            <td>
                                                <span>477</span>
                                            </td>
                                            <td>
                                                제 570회 추리퀴즈 - [ 눈이 내릴 것 같은 밤 ] 오늘의 문제라고 쓰는 것이 좋을까요?
                                            </td>
                                            <td>
                                                44.44%
                                            </td>
                                            <td>
                                                2022.02.03
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>470</span>
                                            </td>
                                            <td>
                                                제 563회 추리퀴즈 - [ I LOVE 삼국지 ]
                                            </td>
                                            <td>
                                                80.99%
                                            </td>
                                            <td>
                                                2021.09.16
                                            </td>
                                        </tr>-->
                                      </tbody>
                                    </table>
                                </div>
                                <div class="pagerContainer" th:object="${pagination}">
                                    <div class="pagerList">
                                        <a class="changePage" th:href="*{startPage - 1}" th:if="*{prev}"><img src="../../img/board/prv.jpg"></a>
                                        <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                                            <a class="changePage" th:href="${page}" th:if="${pagination.criteria.page != page}"><code th:text="${page}"></code></a>
                                            <code th:unless="${pagination.criteria.page != page}" th:text="${page}"></code>
                                        </th:block>
<!--                                        <button>1</button>-->
<!--                                        <button>2</button>-->
<!--                                        <button>3</button>-->
<!--                                        <button>4</button>-->
                                        <a class="changePage" th:href="*{endPage + 1}" th:if="*{next}"><img src="../../img/board/nxt.jpg"></a>
                                    </div>
                                    <form th:action="@{/board/problemList}" th:object="${criteria}" name="pageForm">
                                        <input type="hidden" th:field="*{page}">
                                        <input type="hidden" th:field="*{amount}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="mainFooter">
        <div class="footer_wrap">
            <div class="footer_content">
                <ul class="footer_list_top">
                    <li class="list_style top_font">
                        <span>(미정)소개</span>
                    </li>
                    <li class="list_style top_font">
                        <span>이용약관</span>
                    </li>
                    <li class="list_style top_font">
                        <span>개인정보처리방침</span>
                    </li>
                    <li class="list_style top_font">
                        <span>출제 문의</span>
                    </li>
                    <li class="list_style top_font">
                        <span>광고 문의</span>
                    </li>
                </ul>
                <ul class="footer_list_middle">
                    <li class="list_style">
                        <span class="middle_font">팀명 : 핫식스</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">프로젝트명 : 미정</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">프로젝트 깃허브</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">팀장 : 고진혁</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">팀원 : 김효범 도희정 황영택</span>
                    </li>
                </ul>
                <div class="footer_bottom">
                    @ 2022 Hot6. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</body>
<script th:inline="javascript">
    let $quizList = $("td.quizList")
    let $pages = $("a.changePage");
    let queryString = [[${pagination.criteria.queryString}]];
    var $quizRegisterDate = $("td.date")
    var date = new Date();
    // var quizBackColor = document.getElementsByClassName("todayProblem")

    var year = date.getFullYear();
    var month = date.getMonth()+1;
    var day = date.getDate();

    const $detail = $("a.detail");

    if ((day+"").length < 2) {
        day = "0" + day;
    }

    var getDate = year + "-" + month + "-" + day;

    $quizRegisterDate.each(function(i, td){
        if($(this).text() == getDate) {
            $(this).closest("tr").css("background-color", "rgb(120, 226, 198)");
        }
    })

    // $detail.on("click", function(e){
    //     e.preventDefault();
    //     location.href = "/board/problemDetail" + "&quizList=" + $(this).attr("href");
    // });

    $quizList.each(function (i, td) {
        if (i!=0) {
            if (($(this).text() == $quizList.slice(i - 1, i).text()) && ($quizRegisterDate.slice(i, i+1).text() == $quizRegisterDate.slice(i - 1, i).text())) {
                $(this).closest("tr").remove();
            }
        }
    })

    $pages.on("click", function(e){
        e.preventDefault();
        $(document.pageForm.page).val($(this).attr("href"));
        document.pageForm.submit();
    });


</script>
</html>