<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제 상세</title>
    <link rel="stylesheet" href="../../css/board/problemDetail.css">
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
            $("#header").load("../main/header.html");
            $("#footer").load("../main/footer.html");
        });
    </script>
</head>
<body>
<div class="base">
    <!-- header 작성 -->
    <header>
        <div class="headWrapper">
            <div class="navigation_wrap">
                <div class="navigation_left">
                    <a href="javascript:void(0)" class="navigation_logo">QUIZ</a>
                </div>
                <div class="navigation_right">
                    <ul class="menu">
                        <li><a href="javascript:void(0)">오늘의 문제</a></li>
                        <li><a href="../../html/board/contestList.html">대회</a></li>
                        <li><a href="">랭킹</a></li>
                        <li><a href="javascript:void(0)">게시판</a></li>
                    </ul>
                </div>
                <div class="login">
                    <span class="loginYet">
                        <a href="javascript:void(0)" class="btn_login"  style="display: none;">로그인 / 회원가입</a>
                    </span>
                    <span class="loginOk"">
                    <a href="javascript:void(0)" class="loginOk_font">유저아이디</a>
                    <a href="javascript:void(0)" class="loginOk_font">문의하기</a>
                    <a href="javascript:void(0)" class="btn_login">로그아웃</a>
                    </span>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="mainbox">
            <div class="mainboxHeader box">
                <div>
                    <!-- 대회일때는 span태그안에 글자가 "대회"가 되도록 변경 -->
                    <!-- a태그에 링크도 대회목록 url로 변경 -->
                    <a class="category" href="#">
                        <span>오늘의 문제</span>
                    </a>
                </div>
                <h2 class="title">제 572회 추리퀴즈 - [ 나지막한 콧노래 ]</h2>
                <div class="questionInfo">
                    <span class="questionTime">2022.02.03</span>
                    <div class="questionFile">
                        첨부파일
                        <a href="#">첨부된 파일</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="mainboxBody box">
                <p>“어디 외출이라도 했었나 봐?”</p>
                <p>안락의자 위에서 몸을 한껏 웅크리고 있던 탐정이 말했다.</p>
                <p>-나 : 자네는 어떻게 내가 나갈 때랑 손가락 위치까지 똑같게 앉아있는가?<br>
                    -탐정 : 몸을 움직이는 것 말고도 나는 에너지를 쓸 일이 꽤 많거든. 이를테면, 자네가 아침부터 어디를 다녀왔는가, 하는 문제들 말야.</p>
                <p>탐정은 나를 위아래로 몇 번을 훑어봤다. 그러나 힌트가 될 만한 건 거의 없었다. 탐정도 별수가 없었는지 금새 깊은 고민에 빠졌다.</p>
                <p>나는 탐정의 고뇌에 안도하며, 절로 콧노래가 나왔다.</p>
                <p>-탐정 : 단서가 전혀 없는데? …하지만 자네라면 멀미가 나는 버스보다는 전철이었겠지? 진짜 문제는 전철을 타고 어디를 갔느냐겠지. 집 근처 전철이면 XX역 한 군데이고, 자네가 XX역에서 전철을 탔다면 갔을 만한 데는 딱 2곳뿐이잖아. 하나는 추리소설 전문 서점과 또 하나는 영화관.</p>
                <p><img src="https://www.nis.go.kr:4016/common/download.do?seq=388C51D12ADF2F7E98294E07D8C8E44C" title="%EC%A0%9C572%ED%99%94%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8.jpg"><br style="clear:both;"></p>
                <p>아, 바보 같지만 사실 이건 처음부터 답이 정해진 질문이었다. 내가 집을 제외하고는 세상에서 갈 곳이 저 두 곳밖에 없다는 걸 탐정은 너무나 잘 알고 있었다. 하지만 다행히도 서점과 영화관, 선택지는 2개다. 그리고 둘은 각각 전혀 다른 장소에 있었다. 서점은 전철로 따지면 상행선, 영화관은 하행선을 타야 갈 수 있었으니까.</p>
                <p>-나 : 자, 처음부터 바보 같은 퀴즈가 되어버리긴 했지만, 그렇다고 답이 쉬운 건 아니지. 잘 맞춰보라고!</p>
                <p>나는 의기양양하게 밀어붙였다. 아까의 콧노래를 흥얼거리며. 그러자 그때,</p>
                <p>-탐정 : 자네 그 콧노래 소리… 아까부터 계속 신경이 쓰이더군. 무슨 의도가 있는 거지?<br>
                    -나 : 글쎄… 콧노래 소리에 무슨 의도까지야.<br>
                    -탐정 : 그 멜로디가 왠지 청아한 종소리와 잘 어울릴 거 같다, 이런 나의 감상에 대해서는 어떻게 생각하나?</p>
                <p>탐정의 얘기에 나는 깜짝 놀라고 말았다. 탐정은 이 균열을 놓치지 않고 정답을 내게 던졌다. 과연 나의 행선지는 서점과 영화관 중 무엇일까?</p>
                <hr>
            </div>
            <div class="answerbox box">
                <div class="answerSheet">
                    <p>나의 행선지는 서점과 영화관 중 무엇일까?</p>
                    <input type="radio" id="1" name="answer" value="">
                    <label for="1">1. 서점</label>
                    <br>
                    <input type="radio" id="2" name="answer" value="">
                    <label for="2">2. 영화관</label>
                    <br>
                    <input type="text" name="answer" placeholder="정답 입력">
                </div>
                <button class="btnAnswer">제출</button>
            </div>
        </div>
    </div>
</div>
<footer class="mainFooter">
    <div class="footer_wrap">
        <div class="footer_content">
            <ul class="footer_list_top">
                <li class="list_style top_font">
                    <span>(미정)소개</span>
                </li>
                <li class="list_style top_font">
                    <span>이용약관</span>
                </li>
                <li class="list_style top_font">
                    <span>개인정보처리방침</span>
                </li>
                <li class="list_style top_font">
                    <span>출제 문의</span>
                </li>
                <li class="list_style top_font">
                    <span>광고 문의</span>
                </li>
            </ul>
            <ul class="footer_list_middle">
                <li class="list_style">
                    <span class="middle_font">팀명 : 핫식스</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">프로젝트명 : 미정</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">프로젝트 깃허브</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">팀장 : 고진혁</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">팀원 : 김효범 도희정 황영택</span>
                </li>
            </ul>
            <div class="footer_bottom">
                @ 2022 Hot6. All rights reserved.
            </div>
        </div>
    </div>
</footer>

</body>
</html>