<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제 해설</title>
    <link rel="stylesheet" href="../../css/board/problemDetail.css">
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
            $("#header").load("../main/header.html");
            $("#footer").load("../main/footer.html");
        });
    </script>
</head>
<body  style="height: 100%;">
    <!-- header 작성 -->
    <header>
        <div class="headWrapper">
            <div class="navigation_wrap">
                <div class="navigation_left">
                    <a href="javascript:void(0)" class="navigation_logo">QUIZ</a>
                </div>
                <div class="navigation_right">
                    <ul class="menu">
                        <li><a href="javascript:void(0)">오늘의 문제</a></li>
                        <li><a href="javascript:void(0)">대회</a></li>
                        <li><a href="javascript:void(0)">랭킹</a></li>
                        <li><a href="javascript:void(0)">게시판</a></li>
                    </ul>
                </div>
                <div class="login">
                        <span class="loginYet">
                            <a href="javascript:void(0)" class="btn_login"  style="display: none;">로그인 / 회원가입</a>
                        </span>
                    <span class="loginOk">
                    <a href="javascript:void(0)" class="loginOk_font">유저아이디</a>
                    <a href="javascript:void(0)" class="loginOk_font">문의하기</a>
                    <a href="javascript:void(0)" class="btn_login">로그아웃</a>
                    </span>
                </div>
            </div>
        </div>
    </header>

    <div class="base" style="min-height: 100%; margin: -68px 0 -210px;">
        <div class="container">
            <div class="mainbox">
                <div class="mainboxHeader box">
                    <div>
                        <!-- 대회일때는 span태그안에 글자가 "대회"가 되도록 변경 -->
                        <!-- a태그에 링크도 대회목록 url로 변경 -->
                        <a class="category" href="#">
                            <span>오늘의 문제</span>
                        </a>
                    </div>
                    <h2 class="title">제 572회 추리퀴즈 - [ 나지막한 콧노래 ]</h2>
                    <div class="questionInfo">
                        <span class="questionTime">2022.02.03</span>
                        <div class="questionFile">
                            첨부파일
                            <a href="#"></a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="mainboxBody box">
                    <p>서점</p>
                    <p>지하철 플랫폼에서는 열차가 진입할 때 들려주는 멜로디가 있는데, 상행선의 경우는 종소리로 연주되는 멜로디가, 하행선의 경우는 트럼펫으로 연주되는 또 다른 멜로디가 들린다. 나는 문제에 대한 힌트로 이 멜로디를 나지막한 콧노래 소리로 반복하고 있었다. 그래서 이 멜로디 힌트를 알아챈 탐정은 내가 상행선 전철을 타고 서점에 갔을 것으로 판단하고 정답을 낼 수 있었다.</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="mainFooter" style="height: auto;">
        <div class="footer_wrap">
            <div class="footer_content">
                <ul class="footer_list_top">
                    <li class="list_style top_font">
                        <span>(미정)소개</span>
                    </li>
                    <li class="list_style top_font">
                        <span>이용약관</span>
                    </li>
                    <li class="list_style top_font">
                        <span>개인정보처리방침</span>
                    </li>
                    <li class="list_style top_font">
                        <span>출제 문의</span>
                    </li>
                    <li class="list_style top_font">
                        <span>광고 문의</span>
                    </li>
                </ul>
                <ul class="footer_list_middle">
                    <li class="list_style">
                        <span class="middle_font">팀명 : 핫식스</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">프로젝트명 : 미정</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">프로젝트 깃허브</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">팀장 : 고진혁</span>
                    </li>
                    <li class="list_style">
                        <span class="middle_font">팀원 : 김효범 도희정 황영택</span>
                    </li>
                </ul>
                <div class="footer_bottom">
                    @ 2022 Hot6. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    <a class="boardDetail" th:text="*{boardTitle}" th:href="*{boardNumber}"/>

</body>
<script>
    const $read = $("a.boardDetail");

    $read.on("click", function(e){
        e.preventDefault();
        location.href = "/board/boardDetail?boardNumber=" + $(this).attr("href");
    });

</script>
</html>