.a-modal[data-v-68929f59] {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
}

.a-modal .scroll.-open[data-v-68929f59] {
    height: 100vh;
    padding-bottom: 2.5rem;
}

.a-modal .scroll[data-v-68929f59] {
    position: relative;
    overflow-y: auto;
}

.a-modal__inner[data-v-68929f59] {
    position: relative;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    border-radius: 12px;
    padding: 0;
    margin: auto auto 2.5rem;
    width: 750px;
    max-width: 90%;
    top: 35px;
    z-index: 1200;
}

.modalProfileEditor[data-v-3e730c40] .a-modal__inner .a-modal__innerBody {
    padding: 1rem 2rem 2.5rem;
}
.a-modal__innerBody[data-v-68929f59] {
    padding: 1rem;
    border-radius: 12px;
}

.modalProfileEditor[data-v-3e730c40] .a-modal__inner .a-modal__innerBody>.close-button {
    display: none;
}
.a-modal__innerBody .close-button[data-v-68929f59] {
    position: absolute;
    right: 48px;
    top: 40px;
}

.sprite-icons {
    width: 1rem;
    height: 1rem;
}
svg {
    display: inline;
}

.modalProfileEditor .header[data-v-3e730c40] {
    position: relative;
    width: auto;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    margin-left: -32px;
    margin-right: -32px;
    padding-bottom: 14px;
}

.tw-text-lg {
    font-size: 1.125rem;
}
.tw-font-medium {
    font-weight: 500;
}

.modalProfileEditor .header .close-button[data-v-3e730c40] {
    position: absolute;
    right: 22px;
}

.profile-box[data-v-67fd8155] {
    padding: 2rem 0;
}

@media (min-width: 768px){
.row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
}

.row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.profile-image-box[data-v-67fd8155] {
    text-align: center;
}
.tw-mb-5 {
    margin-bottom: 1.25rem;
}

.profile-image[data-v-e03ee39c] {
    display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    vertical-align: middle;
    background-image: url("https://www.a-ha.io/_nuxt/img/default_profile.f2e66ea.svg");
}

@media (min-width: 992px){

.profile-image-box .profile-image[data-v-67fd8155] {
    width: 120px!important;
    height: 120px!important;
}
}

.profile-image, .profile-img {
    border-radius: 50%;
}

.profile-image-cropper .edit-button[data-v-09b58cb1] {
    margin-top: 1rem;
    width: 200px;
    border-radius: 10px;
}

.button-base.-light[data-v-0aca78a1] {
    --text-opacity: 1;
    color: #0f27d1;
    color: rgba(15,39,209,var(--text-opacity));
    --bg-opacity: 1;
    background-color: #e8f0f9;
    background-color: rgba(232,240,249,var(--bg-opacity));
}

.button-base.-medium[data-v-0aca78a1] {
    height: 48px;
}

.button-base[data-v-0aca78a1] {
    width: 100%;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    font-weight: 500;
    max-width: 200px;
    border-radius: 12px;
}

.modal[data-v-66125e90] {
    background-color: transparent;
}
body .modal {
    min-height: 100%;
}
.modal-fixed-right {
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    top: 0;
    height: 100%;
    z-index: 1100;
}
.modal {
    display: none;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    outline: 0;
}
.modal, .modal-open {
    overflow: hidden;
}
.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.profile-image-cropper[data-v-09b58cb1] .modal-fixed-right .modal-dialog {
    position: fixed;
    margin-top: 0;
    top: 0;
    right: 0;
}
.modal-fixed-right.modal.fade .modal-dialog {
    transform: translate(100%);
    transition: transform .15s ease-in-out;
}
@media (min-width: 992px){
.modal-fixed-right.modal .modal-dialog {
    top: 0;
    right: 0;
    left: auto;
    width: 375px;
    max-width: 100%;
    height: 100%;
    box-shadow: -5px 0 5px 0 rgb(0 0 0 / 15%);
}

.modal-fixed-right .modal-dialog .modal-content .navbar-default {
    display: none;
}

.navbar-default {
    background-color: #fff;
    border-bottom: 0;
    box-shadow: none;
}
}
.modal-fixed-right.modal .modal-dialog {
    z-index: 1050;
    transition: transform .15s ease-in;
}
.modal.fade .modal-dialog {
    transform: translateY(-10%);
    transition: transform .3s ease-out;
}
.a-modal .modal-dialog {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    border-radius: 12px;
    position: relative;
    margin: 1rem auto;
}

.modal-fixed-right .modal-dialog .modal-content {
    margin: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 100%;
}

.modal-fixed-right .modal-dialog .modal-content .navbar-default {
    box-shadow: none;
}
.navbar-default {
    transition: .4s cubic-bezier(.22,.61,.36,1);
}

.navbar-default {
    background-color: #0206af;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
}

.navbar-default .container {
    position: relative;
}

@media (min-width: 1200px){
.container {
    max-width: 1400px;
}
}
@media (min-width: 992px){
.container {
    width: 100%;
}
}
@media (min-width: 768px){
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 734px;
}
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.modal-fixed-right .modal-dialog .modal-content .navbar-default .navbar-header {
    background-color: #0206af;
}
@media (min-width: 992px){
.navbar-header {
    float: left;
}
}

.navbar-default .cancel-btn, .navbar-default .form-search-xs, .navbar-default .navbar-brand, .navbar-default .navbar-toggle {
    transition: .3s cubic-bezier(.22,.61,.36,1);
}
.navbar-default .navbar-toggle {
    border: 0;
    padding: 18px 1rem 16px;
    margin: 0 0 0 -1rem;
}
@media (min-width: 992px){
.navbar-toggle {
    display: none;
}
}
.navbar-toggle {
    position: relative;
    float: left;
    margin-right: 10px;
    padding: 11px 0;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 19px;
    height: 2px;
    border-radius: 1px;
}
[class*=" icon-"], [class^=icon-] {
    font-family: "aha-icon"!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px;
}

.navbar-default .navbar-toggle .icon-bar.middle {
    width: 70%;
}


.tw-mt-5 {
    margin-top: 1.25rem;
}
.tw-justify-center {
    justify-content: center;
}
.tw-items-center {
    align-items: center;
}
.tw-flex {
    display: flex;
}

.tw-font-medium {
    font-weight: 500;
}

.tw-font-bold {
    font-weight: 700;
}

.tw-relative {
    position: relative;
}
.tw-text-base {
    font-size: 1rem;
}

.profile-icon.-left[data-v-67fd8155] {
    position: absolute;
    top: -45px;
    left: -140px;
}

.profile-icon.-right[data-v-67fd8155] {
    position: absolute;
    top: -45px;
    right: -140px;
}

@media (min-width: 992px){

.user-info-box[data-v-67fd8155] {
    padding: 3rem 1rem;
}
}

.user-info-box[data-v-67fd8155] {
    padding: 1rem 0;
}

.gray-box[data-v-67fd8155] {
    padding: 1.5rem;
    border-radius: 12px;
    --bg-opacity: 1;
    background-color: #f9fafc;
    background-color: rgba(249,250,252,var(--bg-opacity));
}

.gray-box__title[data-v-67fd8155] {
    font-weight: 700;
    font-size: .875rem;
    color: #292a2b;
}

.gray-box__description[data-v-67fd8155] {
    font-weight: 500;
    font-size: 1.125rem;
    margin-top: 0.25rem;
    color: #1c1a18;
}

.tw-relative {
    position: relative;
}

.enroll-input[data-v-4087b28a] {
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-bottom-width: 1px;
    --border-opacity: 1;
    border-color: #e0e6f0;
    border-color: rgba(224,230,240,var(--border-opacity));
    padding-right: 64px;
    background: inherit;
    border-radius: 0;
}

.available-length[data-v-4087b28a], .info-icon[data-v-4087b28a] {
    --text-opacity: 1;
    color: #b6becc;
    color: rgba(182,190,204,var(--text-opacity));
}

.available-length[data-v-4087b28a] {
    position: absolute;
    font-weight: 500;
    font-size: .875rem;
    right: 0;
    top: 4px;
}

.description[data-v-4087b28a] {
    font-size: .875rem;
    font-weight: 400;
    align-items: center;
    --text-opacity: 1;
    color: #b6becc;
    color: rgba(182,190,204,var(--text-opacity));
}

.info-icon[data-v-4087b28a] {
    position: relative;
    border-radius: 24px;
    bottom: 1px;
}

.tw-mr-1 {
    margin-right: 0.25rem;
}
.sprite-icons {
    width: 1rem;
    height: 1rem;
}

.gray-box+.gray-box[data-v-67fd8155] {
    margin-top: 1.25rem;
}

.button-base.-secondary[data-v-0aca78a1] {
    border-width: 1px;
    --border-opacity: 1;
    border-color: #5682ef;
    border-color: rgba(86,130,239,var(--border-opacity));
    --text-opacity: 1;
    color: #0206af;
    color: rgba(2,6,175,var(--text-opacity));
    background: #fff;
}

.button-base.-medium[data-v-0aca78a1] {
    height: 48px;
}

.tw-mt-6 {
    margin-top: 1.5rem;
}
.tw-justify-center {
    justify-content: center;
}
.tw-flex {
    display: flex;
}

.button-base.-primary[data-v-0aca78a1] {
    --bg-opacity: 1;
    background-color: #0206af;
    background-color: rgba(2,6,175,var(--bg-opacity));
}

.button-base.-large[data-v-0aca78a1] {
    height: 56px;
}

.button-base[data-v-0aca78a1] {
    width: 100%;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    font-weight: 500;
    max-width: 200px;
    border-radius: 12px;
}

.a-modal__backdrop[data-v-68929f59] {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    z-index: -1;
}

.badImg{
    height: 20px;
    padding-top: 6px;
}

