@media (min-width:992px){
    .base{
        padding-top: 60px;
    }

    .profile_page{
        min-height: calc(100vh - 200px)!important;
    }

    .profileHeader {
        background-image: url("https://www.a-ha.io/_nuxt/img/cover_image_default.a164275.png");
    }

    .profileHeader .a-container {
        padding: 1.25rem 1.5rem;
        align-items: flex-end;
    }

    .a-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        max-width: 1500px;
    }

    .profileHeader .a-container .a-button.-dark {
        opacity: 0;
        top: 1.25rem;
        left: 1.5rem;
        transition: opacity .3s ease-in;
        height: 32px;
    }

    .profileHeader .a-container .a-button {
        font-size: 1rem;
        height: 35px;
    }

    .profile_tabs {
        border-top-width: 0;
    }

    .profile_tabs .b-container {
        padding-left: calc(360px + 3.5rem);
        display: flex;
        max-width: 1500px;
    }

    .profile_tabs .b-container ul {
        white-space: normal;
    }

    .profile_tabsItem {
        display: inline-block;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .link_active{
        font-size: 1.125rem;
        padding-top: 23px;
        padding-bottom: 15px;
    }

    .c-container{
        display: flex;
        max-width: 1500px;
    }

    .profile_aside{
        width: 360px;
    }

    .profileUser {
        margin-bottom: 2rem;
        padding: 20px 15px 15px;
        border-radius: 30px;
        margin-top: -10rem;
    }

    .profileUser__imageComponent {
        width: 110px!important;
        height: 110px!important;
    }

    .profileUser__imageOverlay{
        display: flex;
        border-radius: 9999px;
        opacity: 0;
        position: absolute;
        --text-opacity: 1;
        color: #fff;
        color: rgba(255,255,255,var(--text-opacity));
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        background-color: rgba(0,0,0,.7);
        width: 110px;
        height: 110px;
        top: 5px;
        left: 5px;
        z-index: 3;
        opacity: 0;
        transition: opacity .1s ease-in;
    }
    .profileUser_imageOverlay svg[data-v-1bfbf0fb] {
        width: 30px;
        height: 27px;
    }

    .profileUser_imageButton{
        display: none;
    }

    .md\:tw-block {
        display: block;
    }
}



.base {
    margin-top: 0;
    background: #fafafa;
}

.profileHeader {
    position: relative;
    background-position: 50%;
    background-size: cover;
    height: 100px;
    overflow: hidden;
    background-color: #e8f0f9;
    height: 210px;
}

.profileHeader .a-container {
    position: relative;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.a-container {
    max-width: 734px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.profileHeader .a-container .a-button.-dark {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 26px;
}

.a-button.-dark {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    border-color: transparent;
    background-color: rgba(0,0,0,.5);
}

.a-button {
    font-weight: 400;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 8px;
    transition-property: all;
    transition-duration: .2s;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    --border-opacity: 1;
    border: 1px solid #eee;
    border-color: rgba(238,238,238,var(--border-opacity));
    height: 35px;
}

.a-button.-primary {
    --bg-opacity: 1;
    background-color: #0206af;
    background-color: rgba(2,6,175,var(--bg-opacity));
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    --border-opacity: 1;
    border-color: #0206af;
    border-color: rgba(2,6,175,var(--border-opacity));
    font-weight: 500;
    align-items: flex-end;
}

button {
    background: none;
}

.profile_tabs {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.b-container {
    width: 100%;
}

.profile_tabs .b-container ul {
    margin: 0;
    white-space: nowrap;
    overflow: auto;
}

.profile_tabsItem {
    list-style-type: none;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.link_active{
    display: inline-block;
    color: #989898;
    padding-top: 13px;
    padding-bottom: 12px;
}

a {
    text-decoration: none;
}

.c-container{
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.profile_aside{
    width: 100%;
}

.profileUser, .profileUser_image {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    position: relative;
}

.profileUser {
    text-align: center;
    padding: 20px 15px 32px;
    z-index: 200;
}

.tw-items-center {
    align-items: center;
}
.tw-flex-col {
    flex-direction: column;
}
.tw-flex {
    display: flex;
}

.profileUser_image{
    border-radius: 9999px;
    border-width: 1px;
    display: inline-block;
    margin-top: 0.5rem;
    padding: 5px;
    z-index: 1;
}

.profileUser__imageComponent {
    width: 80px!important;
    height: 80px!important;
}

.profile-image {
    display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    vertical-align: middle;
}

body .profile-image {
    width: 43px;
    height: 43px;
}

.profile-image, .profile-img {
    border-radius: 50%;
}

.sprite-icons {
    width: 1rem;
    height: 1rem;
}

audio, canvas, embed, iframe, img, object, svg, video {

    vertical-align: middle;
}

svg {
    display: inline;
}
*, :after, :before {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
}

.tw-mt-3 {
    margin-top: 0.75rem;
}

.profileUser_imageButton{
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    --bg-opacity: 1;
    background-color: #333;
    background-color: rgba(51,51,51,var(--bg-opacity));
    border-radius: 9999px;
    position: absolute;
    right: 3px;
    bottom: 1px;
    padding: 7px 6px;
}

.tw-mt-2 {
    margin-top: 0.5rem;
}
.tw-text-xl {
    font-size: 1.25rem;
}
.tw-font-bold {
    font-weight: 700;
}
.tw-justify-center {
    justify-content: center;
}
.tw-items-center {
    align-items: center;
}
.tw-flex {
    display: flex;
}

.tw-align-middle {
    vertical-align: middle;
}

.tw-mt-5 {
    margin-top: 1.25rem;
}


.profileUser__stats {
    padding: 1rem 1rem 1.5rem;
    border-radius: 8px;
    background: #fafafa;
}

.tw-text-left {
    text-align: left;
}
.tw-mb-4 {
    margin-bottom: 1rem;
}
.tw-mt-0 {
    margin-top: 0;
}
.tw-font-bold {
    font-weight: 700;
}
.h5, h5 {
    font-size: 16px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

.profileUser_stats_item {
    display: flex;
    justify-content: space-between;
}

.tw-text-gray-700 {
    --text-opacity: 1;
    color: #989898;
    color: rgba(152,152,152,var(--text-opacity));
}

.profileUser_stats_item svg[data-v-2f2021a4] {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
}

.tw-font-medium {
    font-weight: 500;
}

