@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 768px){
    body {
        font-family: "Pretendard",Helvetica,Arial,sans-serif;
    }
    .sm\:tw-hidden {
        display: none;
    }
}

@media (min-width: 992px){
    .base {
        padding-top: 0px;
    }

    .base .page {
        min-height: calc(100vh - 200px)!important;
    }

    .profileHeader.-defaultCover[data-v-697c8a13] {
        background-image: url("https://www.a-ha.io/_nuxt/img/cover_image_default.a164275.png");
    }

    .profileHeader[data-v-697c8a13] {
        height: 210px;
    }

    .profileHeader .a-container[data-v-697c8a13] {
        padding: 1.25rem 1.5rem;
        align-items: flex-end;
    }

    .profileHeader .a-container .a-button.-dark[data-v-697c8a13] {
        opacity: 0;
        top: 1.25rem;
        left: 1.5rem;
        transition: opacity .3s ease-in;
        height: 32px;
    }

    .profileHeader .a-container .a-button.-dark[data-v-697c8a13], .profileHeader .a-container .a-button.-outlined[data-v-697c8a13], .profileHeader .a-container .a-button.-primary[data-v-697c8a13] {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .profileHeader .a-container .a-button[data-v-697c8a13] {
        font-size: 1rem;
        height: 35px;
    }

    .profileHeader .a-container .a-button.-dark svg[data-v-697c8a13] {
        margin-right: 0.5rem;
        width: 1.25rem;
        height: 1.25rem;
    }

    .profileHeader .a-container .a-button+.a-button[data-v-697c8a13] {
        margin-left: 1rem;
    }

    .profile__tabs[data-v-69cb600e] {
        border-top-width: 0;
    }
    .md\:tw-block {
        display: block;
    }

    .profile__tabs .a-container[data-v-69cb600e] {
        padding-left: calc(360px + 3.5rem);
    }

    .profile .a-container[data-v-69cb600e] {
        display: flex;
        max-width: 1500px;
    }
    .a-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        max-width: 1500px;
    }

    .profile__tabs .a-container ul[data-v-69cb600e] {
        white-space: normal;
    }

    .profile__tabsItem[data-v-69cb600e] {
        display: inline-block;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .profile__tabsItem a[data-v-69cb600e] {
        font-size: 1rem;
        padding-top: 23px;
        padding-bottom: 15px;
    }
    .profile__aside[data-v-69cb600e] {
        width: 360px;
    }
    .profileUser[data-v-1bfbf0fb] {
        margin-bottom: 2rem;
        padding: 20px 15px 15px;
        border-radius: 30px;
    }
    .md\:tw--mt-40 {
        margin-top: -10rem;
    }
    .a-cardShadow {
        --bg-opacity: 1;
        background-color: #fff;
        background-color: rgba(255,255,255,var(--bg-opacity));
        box-shadow: 0 0 15px 0 rgb(0 0 0 / 7%);
        border-radius: 20px;
    }

    .profileUser__imageComponent[data-v-1bfbf0fb] {
        width: 110px!important;
        height: 110px!important;
    }

    .profileUser__imageOverlay[data-v-1bfbf0fb] {
        display: flex;
        border-radius: 9999px;
        opacity: 0;
        position: absolute;
        --text-opacity: 1;
        color: #fff;
        color: rgba(255,255,255,var(--text-opacity));
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        background-color: rgba(0,0,0,.7);
        width: 110px;
        height: 110px;
        top: 5px;
        left: 5px;
        z-index: 3;
        opacity: 0;
        transition: opacity .1s ease-in;
    }

    .profileUser__imageOverlay svg[data-v-1bfbf0fb] {
        width: 30px;
        height: 27px;
    }

    .md\:tw-block {
        display: block;
    }

    .profile__tabs .a-container[data-v-69cb600e] {
        padding-left: calc(360px + 3.5rem);
    }

    .profile .a-container[data-v-69cb600e] {
        display: flex;
        max-width: 1500px;
    }


    .profile__main[data-v-69cb600e] {
        padding-left: 2rem;
        width: calc(100% - 360px);
    }
    .md\:tw-py-8 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .md\:tw-pl-4 {
        padding-left: 1rem;
    }
    .profileCard[data-v-384de5cf] {
        border-width: 0;
        background-color: transparent;
        margin-bottom: 2.5rem;
    }
    .profileCard__title[data-v-384de5cf] {
        font-size: 20px;
        border-width: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .profileCard__content[data-v-384de5cf] {
        padding: 1.5rem;
    }
    .a-cardShadow {
        --bg-opacity: 1;
        background-color: #fff;
        background-color: rgba(255,255,255,var(--bg-opacity));
        box-shadow: 0 0 15px 0 rgb(0 0 0 / 7%);
        border-radius: 20px;
    }
}
.noItem__inner[data-v-0a46841d] {
    display: flex;
    align-items: center;
}
.noItem__icon[data-v-0a46841d] {
    margin-right: 0.5rem;
}
.noItem__title[data-v-0a46841d] {
    margin-left: 0.5rem;
    white-space: nowrap;
}
.noItem[data-v-0a46841d] {
    display: flex;
    --text-opacity: 1;
    color: #7d7d7d;
    color: rgba(125,125,125,var(--text-opacity));
}
.profileCard__title[data-v-384de5cf] {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    padding: 0.75rem 1rem;
}
.profileCard__content[data-v-384de5cf] {
    padding: 1rem;
}
.tw-border-b {
    border-bottom-width: 1px;
}
.profileCard[data-v-384de5cf] {
    margin-bottom: 0.5rem;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-width: 0;
    background-color: transparent;
    margin-bottom: 2.5rem;
}
.tw-w-full {
    width: 100%;
}
.profileIndex[data-v-1b11c3ea] {
    display: flex;
    flex-wrap: wrap;
}
body {
    font-family: "Pretendard","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    min-height: 100%;
    position: relative;
}
main {
    display: block;
}

body {
    background-color: #f8f8f8;
}
body {
    margin: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
}

body {
    display: block;
    margin: 0px;
}



html {
    font-size: 16px;
    letter-spacing: -.1px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
}
html {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    display: block;
}
body{
    background-color: #fafafa;
}
.base {
    margin-top: 0;
    transition: margin-top .25s cubic-bezier(.77,.2,.05,1);
    padding-top: 0px;
    background: #fafafa;
}

.base .page {
    min-height: calc(100vh - 400px)!important;
}

.profileHeader[data-v-697c8a13] {
    position: relative;
    background-position: 55%;
    background-size: cover;
    height: 200px;
    overflow: hidden;
    background-color: #e8f0f9;
}

.profileHeader .a-container[data-v-697c8a13] {
    position: relative;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.profileHeader .a-container .a-button.-dark[data-v-697c8a13] {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 26px;
}

.profileHeader .a-container .a-button.-dark[data-v-697c8a13], .profileHeader .a-container .a-button.-outlined[data-v-697c8a13], .profileHeader .a-container .a-button.-primary[data-v-697c8a13] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 500;
}

.profileHeader .a-container .a-button[data-v-697c8a13] {
    height: 36px;
    width: 140px;
    font-size: .875rem;
}
.a-button.-dark {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    border-color: transparent;
    background-color: rgba(0,0,0,.5);
}

.a-button {
    font-weight: 400;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 8px;
    transition-property: all;
    transition-duration: .2s;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    --border-opacity: 1;
    border: 1px solid #eee;
    border-color: rgba(238,238,238,var(--border-opacity));
    height: 35px;
}
.a-button, .a-tag {
    font-size: .875rem;
    --bg-opacity: 1;
}
button {
    background: none;
}
button {
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[role=button], button {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.profileHeader .a-container .a-button.-dark svg[data-v-697c8a13] {
    margin-right: 0.25rem;
    vertical-align: sub;
}
.sprite-icons {
    width: 1rem;
    height: 1rem;
}
svg {
    display: inline;
}

.profileHeader .a-container .a-button+.a-button[data-v-697c8a13] {
    margin-left: 0.5rem;
}

.a-button.-primary {
    --bg-opacity: 1;
    background-color: #0206af;
    background-color: rgba(2,6,175,var(--bg-opacity));
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    --border-opacity: 1;
    border-color: #0206af;
    border-color: rgba(2,6,175,var(--border-opacity));
    position: absolute;
    top: 9rem;
    right: -9rem;
}

button {
    background: none;
}

.profile__tabs[data-v-69cb600e] {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    border-top-width: 1px;
    border-bottom-width: 1px;
    height: 60px;
}

.profile .a-container[data-v-69cb600e] {
    width: 100%;
    max-width: 100%;
}
.a-container {
    max-width: 734px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.profile__tabs .a-container ul[data-v-69cb600e] {
    margin: 0;
    white-space: nowrap;
    overflow: auto;
}

ol, ul {
    margin-top: 0;
}
ul {
    list-style-type: disc;
}
ol, ul {
    list-style: none;
}
fieldset, ol, ul {
    margin: 0;
    padding: 0;
}

.profile__tabsItem[data-v-69cb600e] {
    list-style-type: none;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.profile__tabsItem a.nuxt-link-exact-active[data-v-69cb600e] {
    --text-opacity: 1;
    color: #333;
    color: rgba(51,51,51,var(--text-opacity));
    font-weight: 700;
    border-bottom: 2px solid #0206af;
    font-size: 17px;
}

.profile__tabsItem a[data-v-69cb600e] {
    display: inline-block;
    color: #989898;
    padding-top: 18px;
    padding-bottom: 11px;
}
.profileUser__stats+.profileUser__stats[data-v-2f2021a4] {
    margin-top: 0.35rem;
}

a {
    text-decoration: none;
}
a {
    color: inherit;
    text-decoration: inherit;
}

.profile__aside[data-v-69cb600e]{
    width: 28%;
    margin-left: 20px;

}
.profile__main[data-v-69cb600e] {
    width: 67%;
}

.profileUser[data-v-1bfbf0fb], .profileUser__image[data-v-1bfbf0fb] {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    position: relative;
}
.profileUser[data-v-1bfbf0fb] {
    text-align: center;
    padding: 20px 15px 32px;
    z-index: 200;
}

.tw-items-center {
    align-items: center;
}
.tw-flex-col {
    flex-direction: column;
}
.tw-flex {
    display: flex;
}

.profileUser__image[data-v-1bfbf0fb] {
    border-radius: 9999px;
    border-width: 1px;
    display: inline-block;
    margin-top: 0.5rem;
    padding: 5px;
    z-index: 1;
}

.profileUser__imageComponent[data-v-1bfbf0fb] {
    width: 80px!important;
    height: 80px!important;
}
.profile-image[data-v-e03ee39c] {
    display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    vertical-align: middle;
    background-image: url("https://www.a-ha.io/_nuxt/img/default_profile.f2e66ea.svg");
}
body .profile-image {
    width: 43px;
    height: 43px;
}
.profile-image, .profile-img {
    border-radius: 50%;
}


.profileUser__imageOverlay[data-v-1bfbf0fb] {
    display: none;
}

.tw-mt-3 {
    margin-top: 0.75rem;
}

.profileUser__imageButton[data-v-1bfbf0fb] {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    --bg-opacity: 1;
    background-color: #333;
    background-color: rgba(51,51,51,var(--bg-opacity));
    border-radius: 9999px;
    position: absolute;
    right: 3px;
    bottom: 1px;
    padding: 7px 6px;
    display: none;
}

button {
    background: none;
}

.profileUser__imageButton svg[data-v-1bfbf0fb] {
    display: block;
    width: 11px;
    height: 9px;
}

.tw-mt-2 {
    margin-top: 0.5rem;
}
.tw-text-xl {
    font-size: 1.25rem;
}
.tw-font-bold {
    font-weight: 700;
}
.tw-justify-center {
    justify-content: center;
}
.tw-items-center {
    align-items: center;
}
.tw-flex {
    display: flex;
}
.tw-align-middle {
    vertical-align: middle;
}

.tw-mt-5 {
    margin-top: 1.25rem;
}

.profileUser__stats[data-v-2f2021a4] {
    padding: 1rem 1rem 1.5rem;
    border-radius: 8px;
    background: #fafafa;
}

.tw-text-left {
    text-align: left;
}
.tw-mb-4 {
    margin-bottom: 1rem;
}
.tw-mt-0 {
    margin-top: 0;
}

.profileUser__stats__item[data-v-2f2021a4] {
    display: flex;
    justify-content: space-between;
}

.tw-text-gray-700 {
    --text-opacity: 1;
    color: #989898;
    color: rgba(152,152,152,var(--text-opacity));
}
.tw-font-medium {
    font-weight: 500;
}

.profileUser__stats__item svg[data-v-2f2021a4] {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
}

.profile .a-container[data-v-69cb600e] {
    width: 100%;
    max-width: 100%;
}

.profileUser__imageComponent[data-v-1bfbf0fb] {
    width: 110px!important;
    height: 110px!important;
}

.tw-w-full {
    width: 95%;
}