<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <!-- header css -->

    <!-- footer css -->

    <!-- main css -->
    <link rel="stylesheet" href="../../css/login/join.css">
    <!-- font css -->
    <link >
</head>
<body>
    <div class="layout">
        <div class="layoutDefault">
            <main class="layoutDefault_view">
                <div class="theLogin">
                        <div class="theScreen">
                            <header class="theScreen_header">
                                <a href="http://127.0.0.1:5500/src/html/main/main.html" class="headerLogo" >
                                    <h1 style="color: rgb(198, 84, 84)">Hot6</h1>
                                </a>
                                <!-- 메인페이지 -->
                            </header>
                            <div class="theScreen_body">
                                <h1 class="textTitle">
                                    <span>학생 회원 로그인</span>
                                </h1>
                                <form method="post" th:action="@{/login/join}" th:object="${userInfo}" id="joinUser">
                                    <input type="text" th:field="*{userType}" value="1" style="display: none">
                                    <input type="text" th:field="*{userGrade}" value="1" style="display: none">
                                    <div class="theLogin_body">
                                        <div class="theLogin_bodyInput">
                                            <div class="TextField">
                                                <label class="TextField_label" style="display: inline-block; ">이메일</label>
                                                <div id="yahoo1" class="yahoo"  style="display: inline-block; color: red;"></div>
                                                <div class="TextField_body">
                                                    <input type="text" th:field="*{userEmail}" placeholder="이메일을 입력해주세요" value="" class="Input" id="yeah">
                                                </div>

                                            </div>
                                            <div class="TextField">
                                                <label class="TextField_label" style="display: inline-block;">비밀번호</label>
                                                <div id="yahoo2" class="yahoo" style="display: inline-block; color: red;"></div>
                                                <div class="TextField_body">
                                                    <input type="password" th:field="*{userPassword}" placeholder="비밀번호를 입력해주세요" value="" class="Input" id="yeah2">
                                                    <button type="button" tabindex="-1" class="TextField_bodyButton">
                                                        <img src="../../img/main/noon.png" alt="" style="height: 22px;">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="TextField">
                                                <label class="TextField_label">비밀번호 확인</label>
                                                <div class="TextField_body">
                                                    <input type="password" placeholder="비밀번호를 다시 입력해주세요" value="" class="Input">
                                                    <button type="button" tabindex="-1" class="TextField_bodyButton">
                                                        <img src="../../img/main/noon.png" alt="" style="height: 22px;">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="TextField">
                                                <label class="TextField_label">이름</label>
                                                <div class="TextField_body">
                                                    <input type="text" th:field="*{userName}" placeholder="이름을 입력해주세요" value="" class="Input">
                                                </div>
                                            </div>
                                            <div class="TextField">
                                                <label class="TextField_label">휴대폰 번호</label>
                                                <div class="TextField_body">
                                                    <input type="text" th:field="*{userPhonenum}" placeholder="휴대폰 번호를 입력해주세요" value="" class="Input">
                                                </div>
                                            </div>
                                            <div class="TextField">
                                                <label class="TextField_label">생년월일</label>
                                                <div class="TextField_body">
                                                    <input type="text" th:field="*{userBirth}" placeholder="생년월일을 입력해주세요(ex 930926)" value="" class="Input">
                                                </div>
                                            </div>
                                            <div class="TextField">
                                                <label class="TextField_label">닉네임</label>
                                                <div class="TextField_body">
                                                    <input type="text" th:field="*{userNickname}" placeholder="닉네임을 입력해주세요" value="" class="Input">
                                                </div>
                                            </div>
                                            <div class="TextField">
                                                <label class="TextField_label">학생(초/중/고)</label>
                                                <div class="TextField_body">
                                                    <div class="school_btns">
                                                        <button tabindex="0" th:field="*{userGrade}" type="button" value="" class="school">초등학교</button>
                                                        <button tabindex="0" type="button" value="" class="school">중학교</button>
                                                        <button tabindex="0" type="button" value="" class="school">고등학교</button>
<!--                                                        <label for="cd1">-->
<!--                                                            <input type="radio" id="cd1" name="cd" value="01" th:checked="${data.cd eq '01'}">-->
<!--                                                            <span>초등학교</span>-->
<!--                                                        </label>-->
<!--                                                        <label for="cd2">-->
<!--                                                            <input type="radio" id="cd2" name="cd" value="02" th:checked="${data.cd eq '02'}">-->
<!--                                                            <span>중학교</span>-->
<!--                                                        </label>-->
<!--                                                        <label for="cd3">-->
<!--                                                            <input type="radio" id="cd3" name="cd" value="03" th:checked="${data.cd eq '03'}">-->
<!--                                                            <span>고등학교</span>-->
<!--                                                        </label>-->
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="theScreen_footer">
                                        <input type="submit" class="Button" value="가입하기"/>
                                    </footer>
                                </form>
                            </div>
                        </div>
                </div>
            </main>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    var yeah = $('.TextField');
    var input = $('.Input');
    $(document).ready(function(){
        $(".Button").click(function(event){

            if ($('#yeah').val() == ""){
                event.preventDefault();
                $('#yahoo1').html('* 이메일을 입력해주세요');
            }
            if ($('#yeah2').val() == ""){
                event.preventDefault();
                $('#yahoo2').html('* 비밀번호를 입력해주세요');
            }

        });

    });
</script>
</html>