@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

body, html{
    color: #333;
    position: relative;
    height: 100%;
}

a{
    text-decoration: none;
    color:  #333;
    background-color: transparent;
}

ul{
    list-style: none;
}



.mainFooter {
    height: 0%;
    position: relative;
    transform: translateY(-100%);
}

footer{
    position: relative;
    border-top: 2px solid rgb(39, 201, 39);
    background-color: white;
}

.footer_wrap {
    margin: 0 auto;
    max-width: 925px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: .75rem;
    /* border: 2px solid pink; */
}

.footer_content {
    font-size: .75rem;
    /* border: 2px solid blue; */
}

.footer_list_top{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    max-width: 540px;
    flex-wrap: wrap;
}

.list_style {
    margin-right: 0.75rem;
}

.footer_list_middle {
    display: flex;
    max-width: 550px;
    flex-wrap: wrap;
    margin-top: 1.25rem;
    font-size: 0.75rem;
}

.top_font {
    font-size: 20px;
}

.middle_font {
    font-size: 14px;
}

.footer_bottom {
    margin-top: 1.25rem;
    font-size: 14px;
}