*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    height: auto;
    background-color: #f8f8f8;
}

/* ============================================ */

.setting_header {
    min-height: 210px;
    background-image: url(/project/cover_image_default.a164275.png);
    position: relative;
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
    background-color: #e8f0f9;
}

.setting_info {
    display: flex;
    max-width: 1500px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
    margin-top: 20px;
}

.profile_aside {
    width: 360px;
}

.profile_user {
    margin-bottom: 2rem;
    padding: 20px 15px 15px;
    border-radius: 30px;
    text-align: center;
    background-color: #fff;
}

.qna{
    padding: 1rem 1rem 1.5rem;
    border-radius: 8px;
    background: #fafafa;
}

.user_info {
    margin-bottom: 18px;
}

.user_id {
    margin-bottom: 10px;
}

.user_msg {
    font-size: 16px;
}

.setting_user_info {
    padding-left: 2rem;
    width: calc(100% - 342px);
    margin-left: 18px;
    border: 1px solid pink;
}



















