@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    position: relative;
    font-family: 'Pretendard-Regular';
    font-size: 0.9rem;
    line-height: 1.4;
    color: #333;
    display: block;
    /* height: auto; */
    /* height: 1350px  article 10개일 경우; */
    /* height: 900px; */
    /* min-height: 100%; */
    background-color: #f8f8f8;
    margin: 0;
}

div {
    display: block;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

img{
    max-width: 100%;
}

hr{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
}

.base{
    height: auto;
    position: relative;
    margin-top: 0;
    transition: margin-top .25s cubic-bezier(.77,.2,.05,1);
    background: #fafafa;
}


.container{
    /* height: auto; */
    /* min-height: 0px; */
    position: relative;
    padding-top: 1.25rem;
    padding-bottom: 60px;
}

.bannerContainer{
    height: 140px;
    padding: 0 110px;
    position: relative;
    display: block;
    width: 100%;
}

.banner{
    background: rgb(135, 206, 188);
    border-radius: 12px;
    height: 100%;
}

.bannerContent{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.bannerImageContainer{
    order: 1;
    width: 20%;
    position: relative;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    min-height: 1px;
}

.bannerImage{
    max-height: 100%;
    position: absolute;
    bottom: 0;
}

.bannerTextContainer{
    order: 2;
    padding-left: 2rem;
    z-index: 10;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    display: block;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    margin-top: 0.25rem;
}

.description{
    display: block;
    margin-top: 0.25rem;
    font-size: 18px;
}

.mainContainer{
    position: relative;
    /* height: auto; */
    width: 100%;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 6.35rem;
    padding-right: 6.35rem;
    max-width: 1500px;
}

.mainContent{
    height: auto;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.leftSideContainer{
    width: 13%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    position: relative;
    float: left;
}

.leftSide{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.leftSide>li{
    width: 100%;
    margin-left: 0;
    float: none;
    position: relative;
    display: block;
}

.leftSide>li>a{
    display: inline-block;
    padding: 16px 2px 4px;
    border-radius: 0;
    color: #aaa;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    position: relative;
    text-decoration: none;
}

.contestProblems{
    color: #333 !important;
    border-bottom: 2px solid #2553e5 !important;
}


.questionContainer{
    height: auto !important;
    min-height: 0px !important;
    width: 87%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    position: relative;
    display: block;
    float: left;
}

.questionList{
    width: 80%;
    padding-right: 1rem;
    float: left;
}

.question>article{
    padding: 1rem 1.25rem;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 12px;
    border-width: 1px;
    background-color: #fff;
}

.question>article>aside{
    display: block;
    width: 65px;
}

.questionContent{
    display: flex;
    flex-direction: column;
    width: calc(100% - 65px);
}

.questionTitle{
    border-width: 0;
    padding-bottom: 0.25rem;
    margin-bottom: auto;
    padding: 0 0 10px;
}

.questionOption{
    padding: 0;
    font-weight: 200;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.questionIcons{
    align-items: center;
    display: flex;
}

.questionIcon{
    position: relative;
    display: flex;
    padding-left: 1.25rem;
    align-items: center;
    color: #9ca5b3;
    font-size: .75rem;
    --text-opacity: 1;
    font-weight: 500;
}

.questionIcon:nth-child(2){
    margin-left: 1.25rem;
}
.questionIcon:nth-child(3){
    margin-left: 1.25rem;
}
.questionIcon:nth-child(4){
    margin-left: 1.25rem;
    display: flex;
    justify-content: center;
}

.questionIcon>img{
    display: inline;
    position: absolute;
    left: 0;
    top: 1px;
    width: 16px;
    height: 16px;
}

.questionTime{
    color: #9ca5b3;
    font-size: .75rem;
}

.pagerContainer{
    margin-top: 40px;
    font-size: .875rem;
    text-align: center;
}

.pagerList{
    display: inline-block;
    text-align: center;
}

.pagerList button{
    margin: auto;
    background: none;
    color: #7d7d7d;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin-right: 15px;
    padding: 0;
}

.pagerList>button:nth-child(1){
    border-radius: 3px;
    color: #0206af;
    border-color: #0206af;
    border-width: 1px;
}

.pagerList img{
    width: 14px;
    height: 20px;
}

.writeContainer{
    height: auto !important;
    width: 20%;
    padding-left: 1rem;
    float: left;
    top: 84px;
}

.btnWrite{
    bottom: 244px;
    width: 100%;
    display: block;
    position: relative;
    border-radius: 8px;
    box-shadow: none;
    font-size: 0.9rem;
    font-weight: 700;
    height: 3rem;
    top: 0;
    background: #22252b;
    color: #fff;
    align-items: center;
    font-family: inherit;
    padding: 0;
}