<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot6.web.spring.mapper.BoardMapper">

    <insert id="insert">
        <selectKey keyProperty="boardNumber" order="BEFORE" resultType="long">
            SELECT SEQ_BOARD.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO HOT6_BOARD(BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_TYPE, USER_NUMBER, QUIZ_LIST, QUIZ_NUMBER)
        VALUES(#{boardNumber}, #{boardTitle}, #{boardContent}, #{boardType}, #{userNumber}, #{quizList}, #{quizNumber})
    </insert>

    <update id="update">
        UPDATE HOT6_BOARD
        SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}, BOARD_UPDATE_DATE = SYSDATE, QUIZ_LIST = #{quizList}, QUIZ_NUMBER = #{quizNumber}, BOARD_REPORT = #{boardReport}
        WHERE BOARD_NUMBER = #{boardNumber}
    </update>

    <delete id="delete">
        DELETE FROM HOT6_BOARD
        WHERE BOARD_NUMBER = #{boardNumber}
    </delete>

    <select id="select" resultType="boardVO">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE, USER_NUMBER, QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
        FROM HOT6_BOARD
        WHERE BOARD_NUMBER = #{boardNumber}
    </select>

    <select id="selectAll" resultType="boardVO">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE,USER_NUMBER, QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
        FROM HOT6_BOARD
    </select>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(BOARD_NUMBER) FROM HOT6_BOARD
    </select>

    <!--문의글 전체 개수-->
    <select id="getInquiryTotal" resultType="_int">
        SELECT COUNT(BOARD_NUMBER) FROM TBL_BOARD
        WHERE BOARD_TYPE = '2'
    </select>

    <!--admin 페이지 문의글 전체 조회-->
    <select id="selectAllInquiry" resultType="boardVO">

        SELECT BOARD_ROWNUM, BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
        FROM
        (
            SELECT ROWNUM BOARD_ROWNUM, BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
            FROM
            (
                SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
                FROM TBL_BOARD B
                WHERE BOARD_TYPE = '2'
                ORDER BY BOARD_NUMBER DESC
            ) D2
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ) WHERE BOARD_ROWNUM > (#{page} - 1) * #{amount}
        ]]>
    </select>
</mapper>

















