<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot6.web.spring.mapper.BoardMapper">

    <insert id="insert">
        <selectKey keyProperty="boardNumber" order="BEFORE" resultType="long">
            SELECT SEQ_BOARD.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO HOT6_BOARD(BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_TYPE, USER_NUMBER, QUIZ_LIST, QUIZ_NUMBER)
        VALUES(#{boardNumber}, #{boardTitle}, #{boardContent}, #{boardType}, #{userNumber}, #{quizList}, #{quizNumber})
    </insert>

    <update id="update">
        UPDATE HOT6_BOARD
        SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}, BOARD_UPDATE_DATE = SYSDATE, QUIZ_LIST = #{quizList}, QUIZ_NUMBER = #{quizNumber}, BOARD_REPORT = #{boardReport}
        WHERE BOARD_NUMBER = #{boardNumber}
    </update>

    <delete id="delete">
        DELETE FROM HOT6_BOARD
        WHERE BOARD_NUMBER = #{boardNumber}
    </delete>

    <select id="select" resultType="boardVO">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE, USER_NUMBER, QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
        FROM HOT6_BOARD
        WHERE BOARD_NUMBER = #{boardNumber}
    </select>

    <select id="selectAll" resultType="boardVO">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, USER_NUMBER,BOARD_TYPE,QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
        FROM HOT6_BOARD
    </select>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(BOARD_NUMBER) FROM HOT6_BOARD
    </select>

    <!-- Admin 작성게시글 상세보기-->
    <select id="AdmBoardDetail" resultType="boardDTO">
    SELECT BOARD_NUMBER, a.USER_NAME ,a.USER_NICKNAME ,BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE, QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
    FROM tbl_user a, HOT6_BOARD b
    WHERE BOARD_NUMBER = #{boardNumber} AND a.USER_NUMBER =b.USER_NUMBER
    </select>

    <!-- admin 페이지 이전 작성게시글 제목 조회-->
    <select id="selectBoardBefore" resultType="boardVO">
    SELECT BOARD_NUMBER, BOARD_TITLE, Board_rownum
    FROM
    (
        SELECT ROWNUM BOARD_ROWNUM, BOARD_NUMBER, USER_NAME ,USER_NICKNAME ,BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE, QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
        FROM
        (
            SELECT BOARD_NUMBER, a.USER_NAME ,a.USER_NICKNAME ,BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE, QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
            FROM tbl_user a, HOT6_BOARD b
            ORDER BY BOARD_NUMBER DESC
        ) D2
        )
    WHERE board_rownum =
    (
        SELECT board_rownum
        FROM
        (
            SELECT ROWNUM BOARD_ROWNUM, BOARD_NUMBER, USER_NAME ,USER_NICKNAME ,BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE, QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
            from
            (
                SELECT BOARD_NUMBER, a.USER_NAME ,a.USER_NICKNAME ,BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE, QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
                FROM tbl_user a, HOT6_BOARD b
                ORDER BY BOARD_NUMBER DESC
            ) D2
        )
        WHERE BOARD_NUMBER = #{boardNumber}
    )-1
    </select>
    <!-- admin 페이지 이후 작성게시글 제목 조회-->
    <select id="selectBoardAfter" resultType="boardVO">
    SELECT BOARD_NUMBER, BOARD_TITLE, Board_rownum
    FROM
    (
        SELECT ROWNUM BOARD_ROWNUM, BOARD_NUMBER, USER_NAME ,USER_NICKNAME ,BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE, QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
        FROM
        (
            SELECT BOARD_NUMBER, a.USER_NAME ,a.USER_NICKNAME ,BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE, QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
            FROM tbl_user a, HOT6_BOARD b
            ORDER BY BOARD_NUMBER DESC
        ) D2
        )
    WHERE board_rownum =
    (
        SELECT board_rownum
        FROM
        (
            SELECT ROWNUM BOARD_ROWNUM, BOARD_NUMBER, USER_NAME ,USER_NICKNAME ,BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE, QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
            from
            (
                SELECT BOARD_NUMBER, a.USER_NAME ,a.USER_NICKNAME ,BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE, QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
                FROM tbl_user a, HOT6_BOARD b
                ORDER BY BOARD_NUMBER DESC
            ) D2
        )
        WHERE BOARD_NUMBER = #{boardNumber}
    )+1
    </select>
    <!--문의글 전체 개수-->
    <select id="getInquiryTotal" resultType="_int">
        SELECT COUNT(BOARD_NUMBER) FROM TBL_BOARD
        WHERE BOARD_TYPE = '2'
    </select>

    <!--admin 페이지 문의글 전체 조회-->
    <select id="selectAllInquiry" resultType="boardVO">

        SELECT BOARD_ROWNUM, BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
        FROM
        (
            SELECT ROWNUM BOARD_ROWNUM, BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
            FROM
            (
                SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
                FROM TBL_BOARD B
                WHERE BOARD_TYPE = '2'
                ORDER BY BOARD_NUMBER DESC
            ) D2
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ) WHERE BOARD_ROWNUM > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <!-- admin 페이지 문의글 상세조회-->
    <select id="selectInquiry" resultType="boardDTO">
    SELECT USER_NAME, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE
    FROM TBL_USER A, TBL_BOARD B
    WHERE A.USER_NUMBER = B.USER_NUMBER
        AND B.BOARD_TYPE = 2
        AND B.BOARD_NUMBER = #{boardNumber}
    </select>

    <!-- admin 페이지 이전 문의글 제목 조회-->
    <select id="selectBefore" resultType="boardVO">
    SELECT BOARD_NUMBER, BOARD_TITLE
    FROM
    (
        SELECT ROWNUM BOARD_ROWNUM, BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
        FROM
        (
            SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
            FROM TBL_BOARD B
            WHERE BOARD_TYPE = '2'
            ORDER BY BOARD_NUMBER DESC
        ) D2
        )
    WHERE board_rownum =
    (
        SELECT board_rownum
        FROM
        (
            SELECT ROWNUM BOARD_ROWNUM, BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
            FROM
            (
                SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
                FROM TBL_BOARD B
                WHERE BOARD_TYPE = '2'
                ORDER BY BOARD_NUMBER DESC
            ) D2
        )
        WHERE BOARD_NUMBER = #{boardNumber}
    )-1
    </select>

    <!-- admin 페이지 다음 문의글 제목 조회-->
    <select id="selectAfter" resultType="boardVO">
    SELECT BOARD_NUMBER, BOARD_TITLE
    FROM
    (
        SELECT ROWNUM BOARD_ROWNUM, BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
        FROM
        (
            SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
            FROM TBL_BOARD B
            WHERE BOARD_TYPE = '2'
            ORDER BY BOARD_NUMBER DESC
        ) D2
        )
    WHERE board_rownum =
    (
        SELECT board_rownum
        FROM
        (
            SELECT ROWNUM BOARD_ROWNUM, BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
            FROM
            (
                SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_DATE, USER_NUMBER
                FROM TBL_BOARD B
                WHERE BOARD_TYPE = '2'
                ORDER BY BOARD_NUMBER DESC
            ) D2
        )
        WHERE BOARD_NUMBER = #{boardNumber}
    )+1

</select>

<!-- Admin 페이지 작성게시글 전체보기 -->
    <select id="selectAllBoard" resultType="boardDTO">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_UPDATE_DATE, BOARD_TYPE,tu.USER_NAME, USER_NICKNAME ,QUIZ_LIST, QUIZ_NUMBER, BOARD_REPORT
        FROM TBL_USER tu , HOT6_BOARD tb
        WHERE tu.USER_NUMBER = tb.USER_NUMBER
    </select>
<!-- Admin 페이지 작성게시글 전체 개수-->
    <select id="getBoardTotal" resultType="_int">
        SELECT COUNT(BOARD_NUMBER) FROM HOT6_BOARD
    </select>


    <!--===============마이페이지 부분===============-->
    <!--특정 유저 게시글 전체 가져오기-->
    <select id="getUserInquiry" resultType="boardVO">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_UPDATE_DATE
        FROM TBL_BOARD B
        WHERE BOARD_TYPE = '2'
        AND B.USER_NUMBER = (SELECT U.USER_NUMBER FROM TBL_USER U WHERE U.USER_EMAIL = #{userEmail})
    </select>

    <select id="selectUserInquiryAll" resultType="boardVO">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_UPDATE_DATE
        FROM
        (
            SELECT ROWNUM R, BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_UPDATE_DATE
            FROM
            (
                SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_CONTENT, BOARD_UPDATE_DATE
                FROM TBL_BOARD B
                ORDER BY BOARD_NUMBER DESC
            ) D2
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ) WHERE R > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <select id="getUserInquiryTotal" resultType="_int">
        SELECT COUNT(BOARD_NUMBER) FROM TBL_BOARD
    </select>
</mapper>