<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot6.web.spring.mapper.BoardMapper">
    <insert id="insert">
        <selectKey keyProperty="boardNumber" order="BEFORE" resultType="long"></selectKey>
    </insert>

    <update id="update"></update>

    <delete id="delete"></delete>

    <select id="select" resultType="boardDTO"></select>

    <select id="selectAll" resultType="boardVO"></select>

    <select id="getTotal" resultType="_int"></select>
</mapper>

















