<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot6.web.spring.mapper.FileMapper">
    <insert id="insert">
        INSERT INTO TBL_FILE(FILE_NUMBER, FILE_NAME, FILE_UPLOAD_PATH, FILE_UUID, FILE_IMAGE_CHECK, FILE_SIZE, BOARD_NUMBER)
        VALUES(SEQ_FILE.NEXTVAL, #{fileName}, #{fileUploadPath}, #{fileUuid}, #{fileImageCheck}, #{fileSize}, #{boardNumber})
    </insert>

    <delete id="delete">
        DELETE FROM TBL_FILE
        WHERE BOARD_NUMBER = #{boardNumber}
    </delete>

    <select id="selectAll" resultType="fileVO">
        SELECT FILE_NUMBER, FILE_NAME, FILE_UPLOAD_PATH, FILE_UUID, FILE_IMAGE_CHECK, FILE_SIZE, BOARD_NUMBER
        FROM TBL_FILE
        WHERE BOARD_NUMBER = #{boardNumber}
    </select>

    <select id="selectOldFiles" resultType="fileVO">
        SELECT FILE_NUMBER, FILE_NAME, FILE_UPLOAD_PATH, FILE_UUID, FILE_SIZE, FILE_IMAGE_CHECK, BOARD_NUMBER
        FROM TBL_FILE
        WHERE FILE_UPLOAD_PATH = TO_CHAR(CURRENT_DATE - 3, 'YYYY/MM/DD')
    </select>
</mapper>