<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot6.web.spring.mapper.QuizMapper">
    <insert id="insert"></insert>

    <update id="update"></update>

    <delete id="delete"></delete>

    <select id="select" resultType="quizDTO"></select>

    <select id="selectAll" resultType="quizVO"></select>

    <select id="getTotal" resultType="_int"></select>
</mapper>

















