<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot6.web.spring.mapper.UserMapper">
    <insert id="insertUser">
        insert into TBL_USER(USER_NUMBER, USER_EMAIL, USER_PASSWORD, USER_NAME, USER_PHONENUM, USER_BIRTH, USER_NICKNAME, USER_TYPE, USER_GRADE)
        VALUES(SEQ_USER.NEXTVAL, #{userEmail}, #{userPassword}, #{userName}, #{userPhonenum}, #{userBirth}, #{userNickname}, '01', #{userGrade})
    </insert>

    <insert id="insertCompany">
        insert into TBL_USER(USER_NUMBER, USER_EMAIL, USER_PASSWORD, USER_NAME, USER_PHONENUM, USER_NICKNAME, USER_TYPE)
        VALUES(SEQ_USER.NEXTVAL, #{userEmail}, #{userPassword}, #{userName}, #{userPhonenum}, #{userNickname}, '02')
    </insert>

    <select id="selectUser" resultType="_int">
        SELECT COUNT(USER_PASSWORD)
        FROM TBL_USER
        WHERE USER_PASSWORD = #{userPassword} and USER_EMAIL = #{userEmail}
    </select>
</mapper>

















